.gal-picture {
	width: 10em;
	height: 10em;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 1px #eee solid;
	border-radius: 5px;
}
.gal-picture-inline {
	display: inline-block;
	margin-right: 1em;
	width: 12em;
	height: 14em;
}
.gal-empty-form {
	display: none;
}
.gal-input {
	display: none;
}
.gal-module {
	position: relative;
}
.gal-list {
	padding-bottom: 2em;
	position: relative;
}
.gal-no-parent-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8em;
	color: #a5a5a5;
	padding: 2em;
    text-align: center;
	background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
}
.gal-mock {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
	top: 0;
	left: 0;
	padding: 1.5em;
	box-sizing: border-box;
	z-index: 1;
}
.gal-dropzone {
	display: none;
}
.gal-dropzone__area {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.gal-dropzone__text {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px #ddd dashed;
    color: #cacaca;
    font-size: 2em;
    box-sizing: border-box;
}
.gal-dropzone_active .gal-dropzone__text {
	color: #888;
	border-color: #888;
}
.gal-progress {
	display: none;
}
.gal-progress__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.gal-progress__display {
	font-size: 2em;
}
.gal-list__empty-message {
	display: flex;
	height: 8em;
	justify-content: center;
	align-items: center;
	padding: 2em;
	text-align: center;
	color: #999;
}
.gal-item {
	width: 10em;
	margin: 1em 1em 2em 0;
	display: inline-block;
	vertical-align: top;
	cursor: move;
}
.gal-item__row {
	text-overflow: ellipsis;
}
.gal-item__row_filename {
	font-size: .9em;
	margin: .5em 0;
	word-wrap: break-word;
}
.gal-item_muted {
	opacity: .3;
}
.gal-drag-hint {
	font-size: .9em;
	color: #999;
}
@media (max-width: 768px) {
	.gal-drag-hint {
		display: none;
	}	
}
.gal-arrows {
	display: none;
	justify-content: center;
	margin: 0 -5px;
}
@media (max-width: 768px) {
	.gal-arrows {
		display: flex;
	}
}
.gal-arrows__arrow {
	cursor: pointer;
	width: 63px;
	height: 63px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #eee;
	border-radius: 4px;
	margin: 0 5px 10px;
}
.gal-arrows__arrow:before {
	display: inline;
	font-size: 2em;
	position: relative;
    bottom: .1em;
    color: #bbb;
}
.gal-arrows__arrow_left:before {
	content: '<';
}
.gal-arrows__arrow_right:before {
	content: '>';
}