<div class="g-form g-js-form {% if form.is_valid %}g-form_success{% endif %}">
	<div class="g-form__mock-box">
		<div class="g-form__mock g-form__success">
			<div class="g-form__icon g-form__icon_success"><i class="fa fa-check"></i></div>
			<div class="g-form__success-message">Thank you! Please wait for a response.</div>
		</div>
		<div class="g-form__mock g-form__loading">
			<div class="g-form__icon"><i class="fa fa-spin fa-spinner"></i></div>
		</div>
		<form action="{{form.Meta.action}}">
			{% csrf_token %}

			{{form}}

			<div class="form-group">
				<button class="g-button" type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>