.fun-header {
	background-image: url('../images/header-fund.jpg')
}
.fun-header__title {
	font-size: 4em;
}
.fun-header__fund-pic {
	width: 7em;
}
.fun-header__logo {
	font-size: .8em;
	margin-bottom: 5em;
}
.fun-feature__icon>img {
	width: 100%;
	max-width: 3em;
}
.fun-feature__field {
	line-height: 1.2;
	margin-top: 1em;
}
.fun-feature__value {
	font-size: 3em;
	font-weight: 700;
	margin-top: .6em;
	/*text-transform: uppercase;*/
	line-height: 1.2;
}
.fun-feature__value_long {
	font-size: 2em;
}
.fun-features__list {
	margin: -3em 0;
}
.fun-features__item {
	margin: 3em 0;
}
.fun-features__title {
	margin-bottom: 3em;
}
.fun-graphics {
	padding: 6em 4em 0;
	position: relative;
}
.fun-graphics__gradient {
	position: absolute;
	width: 100%;
	pointer-events: none;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(238,238,238,1) 100%); 
	bottom: 0;
    left: 0;
    height: 10em;
}
.fun-graphics img {
	max-width: 40em;
	margin: 0 auto;
	width: 100%;
}
@media (min-width: 567px) {
	.fun-graphics {
		overflow: hidden;
	}
	.fun-graphics img {
		margin-bottom: -5em;
	}
}
.fun-table__hcol {
	font-weight: 700;
	text-align: left;
}
.fun-table {
	line-height: 1.3;
	margin-bottom: 0;
}
.fun-table thead th {
	border-top: none;
	vertical-align: middle;
}
.fun-table ul {
	padding-left: 0;
	margin: 0;
	list-style: none;
}
.fun-table li {
	margin-bottom: .8em;
}
@media (max-width: 576px) {
	.table {
		font-size: .8em;
	}
}
@media (max-width: 576px) {
	.fun-table-screen {
		padding: 1em 0 0;
	}
	.fun-table-screen>.container {
		padding: 0;
	}
}