{% load i18n     %}

{% if formset.non_form_errors %}
    <ul class='messagelist'>
        {% for error in formset.non_form_errors %}

            <li class='error'>{{ error }}</li>

        {% endfor %}
    </ul>
{% endif %}

{{ formset.management_form }}

{% if formset.total_form_count > 0 %}

    {% for form in formset %}

        <div id='{{form.prefix}}' class='gal-item gal-js-item' draggable='true'>
            <div class="gal-arrows">
                <div class="gal-arrows__arrow gal-arrows__arrow_left gal-js-move-left"></div>
                <div class="gal-arrows__arrow gal-arrows__arrow_right gal-js-move-right"></div>
            </div>
            <div class='gal-item__row'>{{ form.file }}</div>
            <div class='gal-item__row gal-item__row_filename'>
                <a href="{% url 'admin:galleries_picture_change' form.instance.id %}" onclick="return showRelatedObjectLookupPopup(this)">
                    {{ form.instance.filename }}
                </a>
            </div>
            <div class='gal-item__row'><label for='{{ form.DELETE.id_for_label }}'>{{form.DELETE.label}}:</label> {{ form.DELETE|capfirst }}</div>
            {{ form.position }}
            {{ form.id }}
        </div>

    {% endfor %}

{% else %}

    <div class="gal-list__empty-message">
        <span>{% trans 'No pictures.' %}</span>
    </div>

{% endif %}