{% load i18n admin_urls %}
<div class="gal-js-inline inline-group"
     id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">

    <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>

    {% with inline_admin_formset.formset as formset %}

        {% if formset.instance.id %}

            <div class="gal-module module {{ inline_admin_formset.classes }}">

                <div class="gal-dropzone gal-mock gal-js-dropzone">
                    <div class="gal-dropzone__area gal-js-dropzone__area"></div>
                    <div class="gal-dropzone__text">
                        <span>{% trans 'Drop files here.' %}</span>
                    </div>
                </div>

                <div class="gal-progress gal-mock gal-js-progress">
                    <div class="gal-progress__box">
                        <span class="gal-progress__display gal-js-progress__display"></span>
                    </div>
                </div>            

                <div class="gal-list gal-js-list">

                    {% include 'galleries/formset.html' %}

                </div>

                <div class="add-row">
                    <a class="gal-js-add-button" href="#">{% trans 'add'|capfirst %}</a>
                    <span class="gal-drag-hint">({% trans 'Or just drag files here' %})</span>
                    <input class="gal-js-input gal-input" type="file" multiple
                        action="{% url 'admin:galleries_picture_upload' %}"
                        data-object-id="{{object_id}}"
                        data-content-type-id="{{content_type_id}}"
                        data-csrfmiddlewaretoken="{{csrf_token}}">
                </div>

            </div>

        {% else %}

            {{ formset.management_form }}

            <div class="gal-no-parent-message">
                <span>{{ inline_admin_formset.opts.no_parent_message|capfirst }}</span>
            </div>

        {% endif %}

    {% endwith %}

</div>