.trumbowyg-box {
    display: inline-block;
    margin: 0;
    width: inherit;
    max-width: 1000px;
}
.trumbowyg-fullscreen {
    width: 100%;
    max-width: initial;
}

.trumbowyg-button-pane {
    margin: 0 !important;
    padding: 0 !important;
}

.trumbowyg-editor.trumbowyg-reset-css p, .trumbowyg-editor.trumbowyg-reset-css blockquote {
    padding: 0 !important;
}

.trumbowyg-modal-box label {
    float: none;
    padding: 0;
    width: auto;
}

.trumbowyg-button-pane li button.trumbowyg-video-button
{
    background-position: 5px -520px
}