{% extends 'webapp/base.html' %}
{% load static hosts %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'fund_page/css/styles.css' %}">
{% endblock %}
{% block extra_body %}
	<script src="{% static 'fund_page/js/Chart.bundle.min.js' %}"></script>
	<script src="{% static 'fund_page/js/charts.js' %}"></script>
{% endblock %}
{% block title %}Fund | IDACB{% endblock %}
{% block class_body %}{{block.super}} text-center {% endblock %}
{% block content %}
	
	<div class="g-screen g-header g-header_full fun-header">
		<div class="row">
			<div class="container">
				<div class="fun-header__logo">
					<a target="_blank" href="{% host_url 'home' %}" class="mx-auto d-inline-block g-a-reset">
						<div class="g-logo med-logo">
							<img class="g-logo__emblem g-logo__emblem_circle" src="{% static 'webapp/images/logo.svg' %}">
							<div class="g-logo__type"><b>International Decentralized Association<br/> of Cryptocurrency and Blockchain</b></div>
						</div>
					</a>
				</div>
				<br>
				<div>
					<h1 class="g-screen__title fun-header__title mb-2">IDACB Fund</h1>
					<p class="lead">First ever crypto Fund with Inheritance rights possibilities</p>
				</div>
				<br>
			</div>
		</div>
	</div>
	<div class="g-screen">
		<div class="container">
			<h2 class="g-screen__title fun-features__title">IDACB Fund officially managed by IDACB</h2>
			<div class="row">
				<div class="col-md p-3 text-center lead border m-3 p-5">
					<div class="h1"><i class="fa fa-users"></i></div>
					<p class="mb-0">Team of analysts, consultants in the field of management, investments, crypto currencies, blockchain technologies</p>
				</div>
				<div class="col-md p-3 text-center lead border m-3 p-5">
					<div class="h1"><i style="font-size: 130%" class="fa fa-globe"></i></div>
					<p class="mb-0">Worldwide network of experts connected to the investment process in more than <b>85 countries</b></p>
				</div>
			</div>
		</div>
	</div>
	<div class="g-screen g-screen_secondary">
		<div class="container">
			<h2 class="g-screen__title fun-features__title">The mission of IDACB fund is to develop the world blockchain market by</h2>
			<div class="row">
				<div class="col-md p-3 text-center">
					<div class="g-number">1</div>
					<p class="lead">Selecting the best investment solutions for Crypto Assets</p>
				</div>
				<div class="col-md p-3 text-center">
					<div class="g-number">2</div>
					<p class="lead">Providing confident strategies and fulfilling them properly maximizing  profitability of investment portfolio</p>
				</div>
				<div class="col-md p-3 text-center">
					<div class="g-number">3</div>
					<p class="lead">Optimizing investment risks</p>
				</div>
			</div>
		</div>
	</div>
	<div class="g-screen">
		<div class="container">
			<h2 class="g-screen__title fun-features__title">IDACB fund offers</h2>
			<div class="row">
				<div class="col-md p-3 text-center">
					<div class="g-number">A</div>
					<p class="lead font-weight-bold">Investments from $100k up to $10m</p>
				</div>
				<div class="col-md p-3 text-center">
					<div class="g-number">B</div>
					<p class="lead font-weight-bold">80+ country trustworthy guarantee</p>
				</div>
				<div class="col-md p-3 text-center">
					<div class="g-number">C</div>
					<p class="lead font-weight-bold">Stable minimum risk strategy (no trading involved)</p>
				</div>
				{% comment %}
				<div class="w-100"></div>
				<div class="col-md p-3 text-center">
					<div class="g-number">D</div>
					<p class="lead font-weight-bold">Reliable investment process</p>
				</div>
				{% endcomment %}
			</div>
			<div class="row border p-5 justify-content-center">
				<div class="col-md-4 p-3 text-center">
					<p class="text-uppercase"><b>White List Custody:</b></p>
					<div class="text-left">
						<p>Control of assets by an international administrator fund</p>
						<p>Crypto assets can only be moved within the framework of list of wallets</p>
					</div>
				</div>
				<div class="col-md-4 p-3 text-center">
					<p class="text-uppercase"><b>Transparency:</b></p>
					<div class="text-left">
						<p>IFRS financial reporting</p>
						<p>Enter/exit to USD through any banks, from any jurisdiction</p>
					</div>
				</div>
				<div class="col-md-4 p-3 text-center">
					<p class="text-uppercase"><b>Bubble protection:</b></p>
					<div class="text-left">
						<p>Stop-loss tools</p>
						<p>Automatic monthly withdrawal of the nominal value and/or profit on investment</p>
					</div>
				</div>
				<div class="col-md-4 p-3 text-center">
					<p class="text-uppercase"><b>Legal & Tech Security:</b></p>
					<div class="text-left">
						<p>Strict, audited regulations and the best work technology with crypto assets</p>
						<p>Eliminates the risks of storage and movement, risks under the scripts of the "insider", "threat of violence", etc.</p>
						<p>Minimum exposition to exchange risks (by amounts and in time)</p>
					</div>
				</div>
				<div class="col-md-4 p-3 text-center">
					<p class="text-uppercase"><b>Safety:</b></p>
					<div class="text-left">
						<p>Crypto-custody procedure</p>
						<p>Storage on "cold" wallets using the MultiSig technology, hardware security system</p>
						<p>Risk Reduction (minimum exposure)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-light g-screen">
		<div class="container">
			<h2 class="g-screen__title">Corporate Structure of IDACB Fund</h2>
			{# TODO: Remove white space from svg and leave only img element #}
			<div class="w-100 d-flex justify-content-center align-items-center" style="overflow: hidden;">
				<img src="{% static 'fund_page/images/fund-structure.svg' %}" alt="IDACB Fund Structure" style="width: 150%">
			</div>
		</div>
	</div>
	<div class="fun-graphics">
		<h2 class="g-screen__title fun-features__title">IDACB Investment Products</h2>

		<img src="{% static 'fund_page/images/fund-products.svg' %}" alt="IDACB Fund Products">
		<div class="fun-graphics__gradient"></div>
	</div>
	<div class="g-screen g-screen_secondary fun-table-screen">
		<div class="container">
			<table class="table fun-table">
				<thead>
					<tr>
						<th style="vertical-align: top"></th>
						<th style="vertical-align: top">
							<div class="mb-2" style="font-size: 130%">IDACB Top Crypto Currency Fund</div>
							<div class="small text-muted">Based on index of the cryptocurrencies developed by experts of IDACB fund</div>
						</th>
						<th style="vertical-align: top">
							<div class="mb-2" style="font-size: 130%">IDACB Top ICO Index Fund</div>
							<div class="small text-muted">Based on index of  top Token ICO developed by experts of IDACB fund</div>
						</th>
						<th style="vertical-align: top">
							<div class="mb-2" style="font-size: 130%">IDACB ICO Fund</div>
							<div class="small text-muted">Based on pre-sale and ICO/TGE stages projects investments</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="fun-table__hcol">Description</td>
						<td>The fund seeks current income with capital appreciation and growth of income, by investing 100% of its net assets in top crypto currencies. Fund rebalance it assets every month, using our Artificial Intelligence (AI) investment algorithm.</td>
						<td>The fund seeks current income with capital appreciation and growth of income, by investing 100% of its net assets in top tokens. Fund rebalance it assets every month, using our Artificial Intelligence (AI) investment algorithm.</td>
						<td>The fund seeks current income with capital appreciation and growth of income, by investing in verified ICO project at pre-sale stage, located around the world. The maximum exposure is 15% of ICO placement.</td>
					</tr>
					<tr>
						<td rowspan="2" class="fun-table__hcol">Strategy</td>
						<td>
							<p>Provision of investment risk reduction, focusing on top currencies with high capitalization, reliability and liquidity</p>
						</td>
						<td>
							<p>Provision of investment risk reduction, focusing on projects having sufficiently liquid tokens, capitalization, reliability</p>
						</td>
						<td>
							<p>Provision of investment risk reduction, the date of leading rating companies, the network of IBACB fund experts are used for a depth expertise.  Only the projects with the highest rating are included in the portfolio</p>
						</td>
					</tr>
					<tr>
						<td>
							<ul>
								<li>Monthly rebalance</li>
								<li>Mid- to long term</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Monthly rebalance</li>
								<li>Short- to mid term</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Regular rebalance</li>
								<li>Short term</li>
								<li>Up to 15% of placement</li>
								<li>Pre-sale to ICO</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">Volume</td>
						<td>Up to $100m</td>
						<td>Up to $100m</td>
						<td>Up to $100m</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">Min.Ticket</td>
						<td>$100K</td>
						<td>$100K</td>
						<td>$100K</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">Lock-up Period</td>
						<td>6 months</td>
						<td>6 months</td>
						<td>6 months</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">Management Fee</td>
						<td>5%</td>
						<td>5%</td>
						<td>5%</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">Entrance Fee</td>
						<td>5%</td>
						<td>5%</td>
						<td>5%</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">Inception Fee</td>
						<td>separately</td>
						<td>separately</td>
						<td>separately</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">Performance Fee</td>
						<td>30% of monthly net profit</td>
						<td>30% of monthly net profit</td>
						<td>30% of monthly net profit</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">Fee Payment</td>
						<td>monthly</td>
						<td>monthly</td>
						<td>monthly</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="g-screen text-light" style="background-color: #454f58">
		<div class="container">
			<h2 class="g-screen__title fun-features__title">Track Record</h2>
			<div style="position: relative; height: 80vh">
				<canvas id='chart'></canvas>
			</div>
		</div>
	</div>
	<div class="bg-dark text-light py-3 py-md-5">
		<div class="container">
			<table class="table fun-table">
				<thead>
					<tr>
						<th></th>
						<th>2017</th>
						<th>2018</th>
						<th>up till now</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="fun-table__hcol">IDACB Top ICO Fund</td>
						<td>1 509,26</td>
						<td>79,69</td>
						<td>2 711,94</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">IDACB Top Crypto Currency Fund</td>
						<td>3 975,81</td>
						<td>37,46</td>
						<td>5 465,2</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">BTC buy and hold</td>
						<td>1 160,65</td>
						<td>-31,26</td>
						<td>797,73</td>
					</tr>
					<tr>
						<td class="fun-table__hcol">Typical WeighedCAP Fund</td>
						<td>1 458,53</td>
						<td>-16,01</td>
						<td>1 224,95</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
	{% if icos.count > 0 %}
		<div class="container-fluid g-screen">
			<div class="row">
				<div class="container ">
					<h2 class="g-screen__title">IDACB ICO FUND invested in this ICO projects</h2>
					<div class="row g-partners">

						{% for ico in icos %}
							<a target="_blank" rel="nofollow" class="col-4 col-md-2 g-partner" href="{{ico.link}}">
								<div class="g-partner__logo" style="background-image: url('{{ico.logo.url}}')"></div>
							</a>
						{% endfor %}
						
					</div>

				</div>

			</div>
		</div>
	{% endif %}
	<div class="g-screen g-screen_thirdinary">
		<div class="container">
			<h2 class="g-screen__title fun-features__title">IDACB fund benefits</h2>
			<div class="row">
				<div class="col-md p-3 text-center">
					<div class="g-number">1</div>
					<p class="lead">Reliability of diversification driven by 80+ country experts</p>
				</div>
				<div class="col-md p-3 text-center">
					<div class="g-number">2</div>
					<p class="lead">First ever inheritance rights possibility</p>
				</div>
				<div class="col-md p-3 text-center">
					<div class="g-number">3</div>
					<p class="lead">More profits than just buy and hold BTC</p>
				</div>
			</div>
		</div>
	</div>
	<div class="g-screen fun-features">
		<div class="container">
			<h2 class="g-screen__title fun-features__title">IDACB Asset Management</h2>
			<div class="row justify-content-center fun-features__list">
				<!-- <div class="col-12 col-md-6 col-lg-4 fun-features__item">
					<div class="fun-feature">
						<div class="fun-feature__icon"><img src="{% static 'fund_page/images/money.svg' %}" alt=""></div>
						<div class="fun-feature__field">Targeted Assets <br>under Management:</div>
						<div class="fun-feature__value">$ 2 Billion</div>
					</div>
				</div> -->
				<div class="col-12 col-md-6 col-lg-4 fun-features__item">
					<div class="fun-feature">
						<div class="fun-feature__icon"><img src="{% static 'fund_page/images/bitcoin.png' %}" alt=""></div>
						<div class="fun-feature__field">Currency / Benchmark:</div>
						<div class="fun-feature__value">Bitcoin</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 fun-features__item">
					<div class="fun-feature">
						<div class="fun-feature__icon"><img src="{% static 'fund_page/images/shield.svg' %}" alt=""></div>
						<div class="fun-feature__field">Cyber Security:</div>
						<div class="fun-feature__value fun-feature__value_long">5 Multi Signatures <br>on 5 Continents</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 fun-features__item">
					<div class="fun-feature">
						<div class="fun-feature__icon"><img src="{% static 'fund_page/images/jurisdiction.png' %}" alt=""></div>
						<div class="fun-feature__field">Jurisdictions:</div>
						<div class="fun-feature__value fun-feature__value_long">Cayman Islands, <br>Switzerland</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-4 fun-features__item">
					<div class="fun-feature">
						<div class="fun-feature__icon"><img src="{% static 'fund_page/images/umbrella-money.svg' %}" alt=""></div>
						<div class="fun-feature__field">Risk Profile:</div>
						<div class="fun-feature__value">100% LGD</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="g-screen g-screen_color2 p-5">
		<div class="text-center">

			<h2 class="h3 mb-3"><b>KYC:</b></h2>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSd10j9Vjbbu5VQc47LiYPHfwgHa1bHGsfg05fUJppSX8bhXxQ/viewform" target="_blank" rel="nofollow" class="g-button btn btn-primary m-2" style="font-size: 1.3em">KYC Individuals</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSfLCO6WB-JuvYCUUYW9qEqANjx0N9335DvV4gUzkKd1Qilm_w/viewform" target="_blank" rel="nofollow" class="g-button btn btn-primary m-2" style="font-size: 1.3em">KYC Non-Individuals</a>

			<hr class="my-5">

			<h3 class="mb-3"><b>Apply for funding your participation in the World ICO Show by IDACB Fund</b></h2>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSfpDHAHXPpvOutdmBJ0EXmU5dbyJqt0GybAVmbg1gseX32cSg/viewform?c=0&w=1" target="_blank" rel="nofollow" class="g-button btn btn-primary m-2" style="font-size: 1.3em">Apply</a>
			
			<hr class="my-5">

			<h3 class="mb-3"><b>Become a partner:</b></h2>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSduHAYx-gLQVJ3EmJyUW2IA_H_02Q6i189n6WvjbovpYp0RKQ/viewform" target="_blank" rel="nofollow" class="g-button btn btn-primary m-2" style="font-size: 1.3em">Apply</a>

		</div>
	</div>
	<div id="apply" class="container-fluid g-screen g-screen_light g-screen_color">
		<div class="row">
			<div class="container ">
				<div class="container ">
					<div class="g-screen__title g-screen__title_light" style="margin-bottom: 0">
						If you need consultation or have any questions fell free to contact us:<br> <a href="mailto:fund@idacb.com">fund@idacb.com</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="g-screen bg-dark text-white text-justify">
		<div class="container">
			<h2 class="g-screen__title fun-features__title">Disclaimer – Investment risk</h2>
			<div class="text-uppercase">
				<p>
					Investments in crypto assets are in the high-risk zone, including the possible loss of the principal amount invested.  Past performance is not indicative of future results, prices can go up or down. Investors investing in Crupto Assets should be aware of the risks of exchange rate fluctuations that may cause a loss of principal, risks accompanying ICO projects in the early stages, risks associated with a changing legal framework. The sole purpose of this resource is to provide information. No offer or solicitation is being made to purchase or sell any Crypto Assets, other investment or service, or to attract any funds or deposits. Investments mentioned in this document may not be suitable for all investors. Before making any investment, each investor must obtain the investment offering materials, which may be considered in connection with making an investment decision. Each investor should carefully consider the risks associated with the investment and make a determination based upon the investor's own particular circumstances, that the investment is consistent with the investor's investment objectives. Although this information has been obtained from sources believed to be reliable, IDACB fund do not guarantee its accuracy or completeness and accept no liability for any direct or consequential losses arising from its use.
				</p>
				<p>
					Crypto Assets investments may be restricted by local law or regulation in certain jurisdictions. This information is not intended to be published or made available to any person in any jurisdiction where doing so would contravene any applicable laws or regulations. Accessing the information contained ON fund.idacb.com in certain jurisdictions may be restricted by law. By accessing fund.idacb.com  <b>SUBSCRIBER</b> confirms that <b>IT IS</b> aware of the laws in <b>ITS</b> own jurisdiction relating to the provision and sale of securities, financial services and products and <b>SUBSCRIBER</b> warrants and represents that <b>IT</b> will not pass on or utilize information <b>CONTAINED IN THE PLATFORM</b> in a manner that could constitute a breach of such laws by <b>COMPANY</b> or any other person.
				</p>
			</div>
		</div>
	</div>
	<div class="p-5 text-center text-white" style="background-color: rgb(28, 31, 35)">
		<div>© IDACB {% now "Y" %}</div>
	</div>
	<div class="container g-apply g-js-apply-button fun-apply" style='z-index: 3'>
		<button class="g-apply__button g-js-modal-open" data-id="modal-invest">
			<span class="g-apply__text">Invest</span>
		</button>
	</div>
	<div id="modal-invest" class="g-modal g-js-modal">
		<button class="g-modal__close g-js-modal__close"><i class="fa fa-close"></i></button>
		<div class="g-modal__content container">
			<div class="g-modal__header">
				<h2>Invest to IDACB Fund</h2>
			</div>
			{% include 'common/form.html' %}
			<hr>
			<div>
				BTC wallet for transfer:
				<br> 
				<span class="lead font-weight-bold" style="overflow-wrap: break-word; word-wrap: break-word;">14JcwjpJVtRqwaa3aguJ4MC6aaXHg75gco</span>
			</div>
		</div>
	</div>

{% endblock %}