{% extends 'webapp/base.html' %}
{% load static hosts %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'fund_page/css/styles.css' %}">
{% endblock %}
{% block title %}Fund | IDACB{% endblock %}
{% block class_body %}{{block.super}} text-center {% endblock %}
{% block content %}
	
	<div class="g-screen g-header g-header_full fun-header">
		<div class="row">
			<div class="container">
				<div class="fun-header__logo">
					<a target="_blank" href="{% host_url 'home' %}" class="mx-auto d-inline-block g-a-reset">
						<div class="g-logo med-logo">
							<img class="g-logo__emblem g-logo__emblem_circle" src="{% static 'webapp/images/logo.svg' %}">
							<div class="g-logo__type"><b>International Decentralized Association<br/> of Cryptocurrency and Blockchain</b></div>
						</div>
					</a>
				</div>
				<br>
				<div>
					<h1 class="g-screen__title fun-header__title mb-2">IDACB Fund</h1>
					<p class="lead">First ever crypto Fund with Inheritance rights possibilities</p>
					<br>
					<div class="text-justify">
						<p><b>Dear friends, IDACB Fund welcomes you!</b></p>
						<p>IDACB Fund is first ever crypto fund with inheritance rights possibilities. It connected to the International Decentralized Association of Cryptocurrency and Blockchain (IDACB), which operates in 5 continents and got connections in more than 85 countries all over the world. IDACB Fund is bringing the most unique and transparent products in crypto universe. Please feel free to visit our <a style="color: #fff; text-decoration: underline" href="{% url 'home' %}">website</a> for more information.</p>
						<p>We are glad that you have interest of becoming a partner. IDACB Fund is looking for business and professional leaders to work together and provide the finest quality products and service to our customers.</p>
						<p>If you would like to become a partner please fill in the necessary form on the bottom of main website. We will be in touch with you shortly.</p>
						<p><b>King regards,<br>IDACB Fund</b></p>
					</div>
				</div>
				<br>
				<div class="text-center p-3 border d-inline-block mx-auto">
					<h2 class="h4 mb-3">Login</h2>
					<form method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<button class="g-button g-button_transparent g-button_transparent_light" type="submit">Login</button>
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSduHAYx-gLQVJ3EmJyUW2IA_H_02Q6i189n6WvjbovpYp0RKQ/viewform" target="_blank" rel="nofollow" class="g-button g-button_transparent g-button_transparent_light">Become a partner</a>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}