{% extends 'webapp/document.html' %}
{% load static %}
{% block document_title %}List of Countries{% endblock %}
{% block extra_head %}
	{{block.super}}
	<link rel="stylesheet" href="{% static 'webapp/css/countries.css' %}">
{% endblock %}
{% block document_content %}
	<div class="row cou-list">
		{% for country in countries %}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 cou-list__item">
				<div class="cou-country">
					<div class="cou-country__flag">
						<img src="{{country.country.flag.url}}" alt="">
					</div>
					<div class="cou-country__name">{{country.country.name}}</div>
					<br>
					<div class="cou-country__field">
						<div class="cou-field">
							<div class="cou-field__title">
								Board of Directors member:		
							</div>
							<div class="cou-field__value">
								<div class="cou-person">
									<div class="cou-person__picture">
										<img src="{{country.director.picture.url}}">
									</div>
									<div class="cou-person__text">
										<div class="cou-person__name">{{country.director.name}}</div>
										<div class="cou-person__link"><a target="_blank" rel="nofollow" href="{{country.director.link}}">{{country.director.link}}</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% if country.joined %}
					<div class="cou-country__field">
						<div class="cou-field">
							<div class="cou-field__title">
								Joined:
							</div>
							<div class="cou-field__value">
								{{country.joined}}
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}