{% extends 'webapp/base.html' %}
{% load hosts static %}
{% block content %}
<div class="container g-document">
	{% block document_topbar %}
		<div class="g-document__topbar">
			<button class="g-document__print g-button g-button_small g-button_transparent g-js-print"><i class="fa fa-print"></i> Print</button>
		</div>
	{% endblock %}
	<div class="g-screen text-center">
		<div>
			<a target="_blank" href="{% host_url 'home' %}" class="mx-auto d-inline-block g-a-reset">
				<div class="g-logo med-logo">
					<img class="g-logo__emblem g-logo__emblem_circle" src="{% static 'webapp/images/logo.svg' %}">
					<div class="g-logo__type"><b>International Decentralized Association<br/> of Cryptocurrency and Blockchain</b></div>
				</div>
			</a>
		</div>
		<h1>{% block document_title %}{% endblock %}</h1>
		<br>
		<hr>
		<br>
		{% block document_content %}{% endblock %}
	</div>
</div>
{% endblock %}