{% extends 'webapp/base.html' %}
{% load static widget_tweaks hosts thumbnail %}
{% block title %}International Decentralized Association of Cryptocurrency and Blockchain (IDACB){% endblock %}
{% block extra_head %}
	{{block.super}}
	<link rel="stylesheet" href="{% static 'webapp/css/home.css' %}">
{% endblock %}

{% block content %}
	<div class="g-mobile-menu">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="g-mobile-menu__nav">
				<a class="g-mobile-menu__link g-js-scroll-to" data-id="about" href="#about">About</a>
				<a class="g-mobile-menu__link g-js-scroll-to" data-id="membership" href="#membership">Become a Member</a>
				<a class="g-mobile-menu__link g-js-scroll-to" data-id="secretariat" href="#secretariat">Secretariat</a>
			</div>
			<nav class="g-mobile-menu__nav">
				<a class="g-button g-button_small g-button_transparent g-mobile-menu__button g-js-scroll-to" data-id="events" href="#events">IDACB Events</a>
				<a class="g-button g-button_small g-button_transparent g-mobile-menu__button" target="_blank" href="{% host_url 'home' host 'verification_page' scheme 'https' %}">IDACB ICO Verification</a>
				<a class="g-button g-button_small g-button_transparent g-mobile-menu__button g-js-scroll-to" data-id="advisors" href="#advisors">IDACB ICO Advisory Board</a>
				<a class="g-button g-button_small g-button_transparent g-mobile-menu__button" target="_blank" href="{% host_url 'home' host 'media_page' scheme 'https' %}">IDACB Media</a>
				<a class="g-button g-button_small g-button_transparent g-mobile-menu__button" target="_blank" href="{% host_url 'home' host 'fund_page' scheme 'https' %}">IDACB Fund</a>
				<a class="g-button g-button_small g-button_transparent g-mobile-menu__button" target="_blank" href="{% host_url 'home' host 'pitch_page' scheme 'https' %}">IDACB Pitch School</a>
			</nav>
		</div>
		<nav class="navbar navbar-light">
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="g-mobile-menu__logobox">
				<img class="g-mobile-menu__logo" src="{% static 'webapp/images/logo.svg' %}">
			</div>
		</nav>
	</div>
	<div class="g-fixed-menu g-js-fixed-menu">
		<div class="g-fixed-menu__nav">
			<nav class="g-nav g-nav_horizontal">
				<a class="g-nav__link g-js-scroll-to" data-id="membership" href="#"><img class="g-fixed-menu__logo" src="{% static 'webapp/images/logo.svg' %}" title="IDACB logo"></a>
				<a class="g-nav__link g-js-scroll-to" data-id="about" href="#about">About</a>
				<a class="g-nav__link g-js-scroll-to" data-id="membership" href="#membership">Become a Member</a>
				<a class="g-nav__link g-js-scroll-to" data-id="secretariat" href="#secretariat">Secretariat</a>
			</nav>
			<nav class="g-nav">
				<a class="g-button g-button_transparent g-button_small g-fixed-menu__button g-js-scroll-to" data-id="events" href="#events">IDACB Events</a>
				<a class="g-button g-button_transparent g-button_small g-fixed-menu__button" target="_blank" href="{% host_url 'home' host 'verification_page' scheme 'https' %}">ICO Verification</a>
				<a class="g-button g-button_transparent g-button_small g-fixed-menu__button g-js-scroll-to" data-id="advisors" href="#advisors">ICO Advisory Board</a>
				<a class="g-button g-button_transparent g-button_small g-fixed-menu__button" target="_blank" href="{% host_url 'home' host 'media_page' scheme 'https' %}">IDACB Media</a>
				<a class="g-button g-button_transparent g-button_small g-fixed-menu__button" target="_blank" href="{% host_url 'home' host 'fund_page' scheme 'https' %}">IDACB Fund</a>
				<a class="g-button g-button_transparent g-button_small g-fixed-menu__button" target="_blank" href="{% host_url 'home' host 'pitch_page' scheme 'https' %}">Pitch School</a>
			</nav>
		</div>
	</div>
	<div class="container-fluid hom-header g-header" class="container-fluid">
		<nav class="g-topbar g-topbar_header g-nav g-nav_dark">
			<a class="g-topbar__link g-nav__link g-js-scroll-to" href="/"><img class="g-topbar__logo" src="{% static 'webapp/images/logo.svg' %}" title="IDACB logo"></a>
			<a class="g-topbar__link g-nav__link g-js-scroll-to" data-id="about" href="#about">About</a>
			<a class="g-topbar__link g-nav__link g-js-scroll-to" data-id="membership" href="#membership">Become a Member</a>
			<a class="g-topbar__link g-nav__link g-js-scroll-to" data-id="secretariat" href="#secretariat">Secretariat</a>
		</nav>
		<div class="hom-header__textblock">
			<!-- <div class="hom-header__logo">
				<img src="{% static 'webapp/images/wbc-summit-logo.png' %}" title="WBC Summit logo">
			</div> -->
			<h1 class="hom-header__header">International Decentralized Association of Cryptocurrency and Blockchain (IDACB)</h1>
			<div class="hom-inter">
				<div class="hom-inter__globe"><i class="fa fa-globe"></i></div>
				<div class="hom-inter__text"><div class="text-uppercase">
					<span class="hom-inter__number">90{#countries_count#}</span> Countries</div>
				</div>
			</div>
			<nav class="hom-header__links">
				<a class="g-button hom-header__link g-js-scroll-to" data-id="events" href="#events">IDACB Events</a>
				<a class="g-button hom-header__link" target="_blank" href="{% host_url 'home' host 'verification_page' scheme 'https' %}">IDACB ICO Verification</a>
				<a class="g-button hom-header__link g-js-scroll-to" data-id="advisors" href="#advisors">IDACB ICO Advisory Board</a>
				<a class="g-button hom-header__link" target="_blank" href="{% host_url 'home' host 'media_page' scheme 'https' %}">IDACB Media</a>
				<a class="g-button hom-header__link" target="_blank" href="{% host_url 'home' host 'fund_page' scheme 'https' %}">IDACB Fund</a>
				<a class="g-button hom-header__link" target="_blank" href="{% host_url 'home' host 'pitch_page' scheme 'https' %}">IDACB Pitch School</a>
			</nav>
		</div>
		<div class="hom-header__footer">
		</div>
	</div>
	<div id="about" class="conteiner-fluid">
		<div class="container g-welcome-letter">
			<div class="g-welcome-letter__top">
				<img class="g-welcome-letter__logo" src="{% static 'webapp/images/logo-document.png' %}">
			</div>
			<h2 class="h5">Welcome to our website!</h2>
			<p></p>
			<p>International Decentralized Association of Cryptocurrency and Blockchain (hereinafter – IDACB) as an initiative for the international co-working and business cooperation is founded to create a community of strong countries` representatives.</p>
			<p>The International Decentralized Association of Cryptocurrency and Blockchain is to work out basic principles of market legal regulation and synchronize law initiatives in Blockchain and Cryptocurrency; to organize community of experts, ideologists and professionals and to protect the market from frauds, scams and unfair practices. The primary objective of the Association is to uplift the Blockchain ecosystem and community and to address the critical skills gap with respect to Blockchain technology.</p>
			<p>We are proud to unite the IDACB Members from all over the world who work locally, regionally, and internationally to connect with both global leaders and best practice and to educate, develop and empower the international Blockchain community.</p>
			<p>With you we can accomplish more! We invite you to become a member and join the initiative!</p>
			<hr>
			<p>
				<img class="g-welcome-letter__seal" src="{% static 'webapp/images/seal.png' %}">
			</p>
			<p class="d-none d-sm-none">&nbsp;</p>
			<p>Best Wishes,</p>
			<p><b>Maxim Chereshnev</b> <br><i>International Secretary IDACB</i></p>
			<p>
				<img class="g-welcome-letter__sign" src="{% static 'webapp/images/sign.png' %}">
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
	{% comment %}
		{% if countries_count > 0 %}
			<div class="g-screen hom-inter container-fluid">
				<div class="hom-inter__globe"><i class="fa fa-globe"></i></div>
				<div class="hom-inter__text"><div class="h2 text-uppercase">
					<span class="hom-inter__number">{{countries_count}}</span> Countries</div>
				</div>
				<a rel="nofollow" href="{% host_url 'countries' %}" class="g-button g-button_transparent g-button_transparent_light g-js-open-window">
					See all
				</a>
			</div>
		{% endif %}
	{% endcomment %}
	{% if events.upcoming.count > 0 %}
		<div id="events" class="conteiner-fluid g-shows">
			<div class="container text-center">
				<div class="row">
					<div class="col-12">
						<h2 class="g-shows__title"><b>Upcoming events:</b></h2>
					</div>
				</div>
				<div class="row justify-content-center">
					{% for event in events.upcoming %}
						<div class="col-12 col-sm-6">
							<a target="_blank" href="{{event.link}}" title="{{event.name}}"><img class="g-shows__picture" src="{{event.picture.url}}"></a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if events.past.count > 0 %}
		<div class="g-screen g-screen_thirdinary text-center">
			<div class="container">
				<h3 class="h4 text-uppercase mb-4 font-weight-bold">Past Events:</h3>
				<div class="row justify-content-center">
					{% for event in events.past %}
						<div class="col-6 col-sm-4">
							<a target="_blank" href="{{event.link}}" title="{{event.name}}"><img class="g-shows__picture" src="{{event.picture.url}}"></a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	{% if partners.count > 0 %}
		<div class="g-screen g-screen_thirdinary container-fluid d-md-none">
			<div class="container">
				<h2 class="g-screen__title">IDACB General Partners</h2>
				<div class="row g-partners g-partners_lg">

					{% for partner in partners %}
						<a target="_blank" rel="nofollow" class="col-4 col-md-3 g-partner" href="{{partner.link}}">
							<div class="g-partner__logo" style="background-image: url('{{partner.logo.url}}')"></div>
						</a>
					{% endfor %}
					
				</div>
			</div>
		</div>
	{% endif %}
	<div class="conteiner-fluid g-mobile-aside d-md-none">
		<div class="g-presentation__fb_mobile">
			<div class="fb-page" data-href="https://www.facebook.com/IntDACB/" data-tabs="timeline" data-width="500" data-height="0" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
				<blockquote cite="https://www.facebook.com/IntDACB/" class="fb-xfbml-parse-ignore">
					<a target="_top" href="https://www.facebook.com/IntDACB/">IDACB</a>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="conteiner-fluid g-presentation">
		<div class="container">
			<div class="row">
				<div class="d-none d-md-block col-md-4">
					<div class="fb-page" data-href="https://www.facebook.com/IntDACB/" data-tabs="timeline" data-width="500" data-height="100%" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
						<blockquote cite="https://www.facebook.com/IntDACB/" class="fb-xfbml-parse-ignore">
							<a target="_top" href="https://www.facebook.com/IntDACB/">IDACB</a>
						</blockquote>
					</div>
					{% if partners.count > 0 %}
						<div class="g-presentation__partners">
							<div style="margin-top: 2em"><b>IDACB General Partners</b></div>
							<!-- <img class="g-presentation__logo-partner" src="{% static 'webapp/images/logo-rmg.png' %}"> -->
							<div class="row g-partners">

								{% for partner in partners %}
									<a target="_blank" rel="nofollow" class="col-6 g-partner" href="{{partner.link}}">
										<div class="g-partner__logo" style="background-image: url('{{partner.logo.url}}')"></div>
									</a>
								{% endfor %}
								
							</div>
						</div>
					{% endif %}
				</div>
				<div class="col-12 col-md-8">
					<h2 class="h5">The Purposes of the IDACB are:</h2>
					<p>To work out basic principles of market legal regulation (similar for majority of participants) and synchronize law initiatives in Blockchain and Cryptocurrency</p>
					<ol>
					<li>To propose law initiatives for regulators based on best countries’ practices</li>
					<li>To organize Community of Experts, Ideologists and Professionals</li>
					<li>To generate Unified Distributed Community Database</li>
					<li>To prepare Intellectual Rights Protection Proposals</li>
					<li>To protect Market from frauds, scams and unfair practices</li>
					<li>To create Regulation Proposals for ICO</li>
					</ol>
					<h2 class="h5">Membership</h2>
					<p>Association is a non-profit entity operating at decentralized principles. Membership of Association is granted to the national associations of participating countries and by online registration for all blockchain society. Professional community members could be individual members of Association.</p>
					<p>Choose your membership mode and join the biggest international community!</p>
					<div class="g-presentation__links">
						<div class="row">
							<div class="col-12 col-md-6">
								<a target="_blank" href="{% host_url 'home' host 'fund_page' scheme 'https' %}" class="g-button g-presentation__link">IDACB fund</a>
							</div>
							<div class="col-12 col-md-6">
								<a target="_blank" href="{% host_url 'home' host 'verification_page' scheme 'https' %}" class="g-button g-presentation__link">IDACB ICO verification</a>
							</div>
							<div class="col-12 col-md-6">
								<button class="g-button g-presentation__link g-js-modal-open" data-id="modal-membership">IDACB Membership</button>
							</div>
							<div class="col-12 col-md-6">
								<button class="g-button g-presentation__link g-js-modal-open" data-id="modal-advinfo">IDACB ICO advisory board</button>
							</div>
							<div class="col-12 col-md-6">
								<a target="_blank" href="{% host_url 'home' host 'media_page' scheme 'https' %}" class="g-button g-presentation__link">IDACB Media (up to -50%)</a>
							</div>
						</div>
					</div>
					<p>* National associations and large companies representing member countries are exempt from payment of membership fees. The International Secretariat is authorized to accept and consider applications for membership.</p>
					<div class="row g-credentials">
						<div class="col-12 col-lg-3 g-credentials__logo">
							<img class="" src="{% static 'webapp/images/logo-document.png' %}">
						</div>
						<div class="col-12 col-lg-6 g-credentials__company-name">
							<span>International Decentralized Association of Cryptocurrency and Blockchain</span>
						</div>
						<div class="col-12 col-lg-3 g-credentials__contacts">
							<a class="g-credentials__link" href="mailto:secretariat@idacb.com">secretariat@idacb.com</a>
							<a class="g-credentials__link" href="/">www.idacb.com</a>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	{% comment %}
	<div class="container-fluid g-video">
		<div class="container g-video__box">
			<video id="video" width="100%" height="100%" loop="loop" preload="auto" autoplay="autoplay" style="background-color: rgb(0, 0, 0);">
				<source src="{% static 'webapp/images/IDACB.mp4' %}" type="video/mp4">
				The video is not supported by your browser.
			</video>
		</div>
	</div>
	{% endcomment %}
	<div id="membership" class="container-fluid g-screen hom-form">
		<h2 class="g-screen__title hom-form__title">Become a Member</h2>
		<div class="text-center">
			<button class="g-button g-button_transparent g-button_transparent_color g-js-modal-open" data-id="modal-membership">Learn more</button>
		</div>
		{% include 'common/form.html' with form=form_membership %}
	</div>
	<div id="team" class="container-fluid">
		<div class="container g-team">
			<h3 class="g-team__party-title">The IDACB Board of Trustees</h3>
			<div class="row">
				
				{% for person in parties.trustees %}
					{% include 'webapp/person.html' with colorspace="GRAY" %}
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="container-fluid g-container_secondary">
		<div class="container g-team">
			<h3 class="g-team__party-title">The IDACB Board of Directors</h3>
			<div class="row">

				{% for person in parties.directors %}
					{% include 'webapp/person.html' with colorspace="GRAY" show_country_flag=True %}
				{% endfor %}

			</div>
		</div>
	</div>
	<div id="secretariat" class="container-fluid">
		<div class="container g-team">
			<h3 class="g-team__party-title">IDACB International Secretariat</h3>
			<div class="row">
				
				{% for person in parties.secretariat %}
					{% include 'webapp/person.html' with colorspace="GRAY" %}
				{% endfor %}

			</div>
		</div>
	</div>
	<div id="countries" class="container-fluid g-countries g-screen">
		<div class="container">
			<h2 class="g-screen__title">Countries</h2>
			<div class="row">

				{% for country in countries %}
					{% if country.association_set.all.count > 0 %}
						<div class="col-6 col-md-3 g-country">
							<div class="g-country__name">{{country.name}}</div>
							<div class="g-country__flag">{% if country.flag %}<img class="g-country__picture" src="{{country.flag.url}}" alt="">{% endif %}</div>
							<div class="g-country__links">
								{% for association in country.association_set.all %}
									<p><a target="_blank" rel="nofollow" href="{{association.url}}" class="g-country__link">{{association.name}}</a></p>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
				
			</div>
		</div>
	</div>
	<div id="advisors" class="container-fluid g-container_secondary">
		<div class="container g-team">
			<h3 class="g-team__party-title">IDACB ICO Advisory Board</h3>
			<div class="row justify-content-center mb-5">
				<div class="col-12 col-sm-auto mb-3">
					<button class="g-button w-100 g-button_transparent text-uppercase g-js-modal-open" data-id="modal-become-advisor">Become an advisor</button>
				</div>
				<div class="col-12 col-sm-auto mb-3">
					<button class="g-button w-100 g-button_transparent text-uppercase g-js-modal-open" data-id="modal-get-advisor">Get an advisor</button>
				</div>
			</div>
			<div class="row">
				
				{% for person in parties.advisory %}
					{% include 'webapp/person_advisor.html' %}
				{% endfor %}

			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-sm-auto mb-3">
					<button class="g-button w-100 g-button_transparent text-uppercase g-js-modal-open" data-id="modal-become-advisor">Become an advisor</button>
				</div>
				<div class="col-12 col-sm-auto mb-3">
					<button class="g-button w-100 g-button_transparent text-uppercase g-js-modal-open" data-id="modal-get-advisor">Get an advisor</button>
				</div>
			</div>
		</div>
	</div>
	{% for person in parties.advisory %}
		<div id="modal-advisor-{{person.id}}" class="g-modal g-js-modal">
			<button class="g-modal__close g-js-modal__close"><i class="fa fa-close"></i></button>
			<div class="g-modal__content g-modal__content_center container">
				<div class="g-modal__header">
					<h2>Get an Advisor</h2>
				</div>
				<div class="g-person">
					<div class="g-person__avatar text-center">
						<div class="g-person__picture" style="background-image: url('{{person.picture.url}}')"></div>
					</div>
					<div class="g-person__name">{{person.name}}</div>
				</div>
				{% include 'common/form.html' with form=person.form %}
			</div>
		</div>
	{% endfor %}
	<div id="modal-become-advisor" class="g-modal g-js-modal">
		<button class="g-modal__close g-js-modal__close"><i class="fa fa-close"></i></button>
		<div class="g-modal__content g-modal__content_center container">
			<div class="g-modal__header">
				<h2>Become an Advisor</h2>
			</div>
			{% include 'common/form.html' with form=form_become_advisor %}
		</div>
	</div>
	<div id="modal-get-advisor" class="g-modal g-js-modal">
		<button class="g-modal__close g-js-modal__close"><i class="fa fa-close"></i></button>
		<div class="g-modal__content g-modal__content_center container">
			<div class="g-modal__header">
				<h2>Get an Advisor</h2>
			</div>
			{% include 'common/form.html' with form=form_get_advisor %}
		</div>
	</div>
	{% if companies.count > 0 %}
		<div class="g-screen g-companies container-fluid">
			<div class="container">
				<h2 class="g-screen__title">IDACB Companies</h2>
				<div class="row g-partners g-partners_lg">

					{% for company in companies %}
						<a target="_blank" rel="nofollow" class="col-4 col-md-3 g-company" href="{{company.link}}">
							<div class="g-partner__logo" style="background-image: url('{{company.logo.url}}')"></div>
						</a>
					{% endfor %}
					
				</div>
			</div>
		</div>
	{% endif %}
	<div class="container-fluid g-container_thirdinary">
		<div class="container g-team">
			<h3 class="g-team__party-title">IDACB Professionals</h3>
			<div class="row">

				{% for person in parties.professionals %}
					{% include 'webapp/person.html' with colorspace="GRAY" hide_country_name=True %}
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="container text-center">
		<img class="g-world-map" src="{% static 'webapp/images/world-map.png' %}">
	</div>
	{% if documents.count %}
		<div class="container-fluid g-files g-container_secondary g-screen">
			<h2 class="g-screen__title">Documents</h2>
			<div class="container">
				<div class="g-files__list">
					{% for document in documents %}
						<a target="_blank" rel="nofollow" href="{{document.file.url}}" class="g-files__item g-button g-button_transparent">
							<i class="fa fa-file-pdf-o"></i> {{document.name}}
						</a>	
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="container-fluid g-footer g-screen">
		<div class="container">
			<div class="g-footer__box">
				<div class="g-footer__links g-social-links">
					<a target="_blank" rel="nofollow" href="https://www.facebook.com/IntDACB/" class="g-footer__link g-social-links__link"><i class="fa fa-facebook"></i></a>
					<a target="_blank" rel="nofollow" href="https://twitter.com/idacbinternati1" class="g-footer__link"><i class="fa fa-twitter"></i></a>
					<a target="_blank" rel="nofollow" href="http://t.me/idacbblockchain" class="g-footer__link"><i class="fa fa-telegram"></i></a>
					<a target="_blank" rel="nofollow" href="mailto:secretariat@idacb.com" class="g-footer__link"><i class="fa fa-envelope"></i></a>
				</div>
				<div class="g-footer__links">
					<a href="#" class="g-footer__link g-js-modal-open" data-id="modal-privacy">Privacy policy</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid g-basement">
		<div>© IDACB {% now "Y" %}</div>
	</div>

	<div id="modal-fund" class="g-modal g-js-modal">
		<button class="g-modal__close g-js-modal__close"><i class="fa fa-close"></i></button>
		<div class="g-modal__content container">
			<div class="g-modal__header">
				<div class="g-modal__logo-box">
					<img class="g-modal__logo" src="{% static 'webapp/images/logo-document.png' %}">
				</div>
				<hr>
				<br>
				<h2>IDACB Fund</h2>
			</div>
			<p>IDACB Fund is created by the international community members of IDACB to construct a bridge between traditional investments and new decentralized economy.</p>
			<p>IDACB fund represents a hybrid between an open-ended SUPPORT FUND and a STABILITY FUND, started with an initial seed capital of $5 million raised among the founders and company executives, and attracting up to $300 million in the process of funding. </p>
			<p>IDACB STABILITY FUND will be a passive investment vehicle tracking a customized cryptocurrency index and supporting optimized risk/return profile due to diversification opportunity of the largest crypto assets by market cap. </p>
			<p>IDACB SUPPORT FUND operating as crypto asset new investment division, will make large investments, ranging from $0,5 - $1 million, throughout the capital stack with a hedge fund approach to the perspective blockchain projects at the private sale and pre-ICO stage, as a long / short crypto strategy. </p>
			<p>IDACB Advisory Group will track all hedge-part fund investments, providing high level of transparency and expertise for investors.  IDACB Fund will open accounts with reputable banks in Switzerland and Liechtenstein. By storing the crypto assets at banks in Switzerland and Liechtenstein, we ensure the highest standards of cryptographic, IT and physical security. </p>
			<p>IDACB Fund believes that verifying instruments such as due diligence, analysis, and transparency are the key to successful investment and long-term stability of the blockchain ecosystem. Thus, IDACB fund as a mutual index fund will be a passive investment vehicle. Providing objective analysis, it will track a customized cryptocurrency index and support optimized risk/return profile due to diversification opportunity of the largest crypto assets by market cap. We focus you on instruments that we believe to be in high demand, liquid and a candidate for significant capital gain. </p>
			<p>The decision enters into force on the date: <br>
			March, 26</p>
			<p>IDACB International Secretariat</p>
		</div>
	</div>

	<div id="modal-membership" class="g-modal g-js-modal">
		<button class="g-modal__close g-js-modal__close"><i class="fa fa-close"></i></button>
		<div class="g-modal__content container">
			<div class="g-modal__header">
				<div class="g-modal__logo-box">
					<img class="g-modal__logo" src="{% static 'webapp/images/logo-document.png' %}">
				</div>
				<hr>
				<br>
				<h2>IDACB Membership</h2>
			</div>
			<h3>IDACB Company</h3>
			<br>
			<p>IDACB COMPANY membership is created for organizations that wish to take advantage of the benefits beyond that of individual memberships such as displaying their company logo and links on the IDACB website and social media and applying to become IDACB partners and supporters. </p>
			<p>By purchasing Corporate Membership for your organization, you confirm that you have obtained sufficient approvals to commit your organization to membership. </p>
			<p>The decision enters into force on the date: <br>
			March, 5</p>
			<p>IDACB International Secretariat</p>
			<br>
			<h3>IDACB Professional</h3>
			<br>
			<p>IDACB Membership is created for talented and successful entrepreneurs, businessman, investors, trainers, lawyers that wish to take advantage of the benefits of individual memberships such as displaying the personal photo, CV and short resume on the IDACB website and social networks, the opportunity to be connected with other members at international and local levels events and take part at national workshops on a variety of topics. </p>
			<p>IDACB PROFESSIONAL membership helps to run the organization better and find sufficient partners. The duration of membership is not limited but the association reserves the right to deprive a person of membership in case of incorrect behavior within the community. </p>
			<p>The decision enters into force on the date: <br>
			March, 5</p>
			<p>IDACB International Secretariat</p>
			<br>
			<h3>IDACB Exchange Approved</h3>
			<br>
			<p>IDACB EXCHANGE APPROVED is a special membership for safe services that wish to take an advantage of the benefits such as safety and reliability certification that is carried out by a special commission of experts and recognized among all the country-members. The Exchange service logo and link are placed on the IDACB website as “Approved”, the duration of membership is limited to the 1 year period. </p>
			<p>The decision enters into force on the date: <br>
			March, 5</p>
			<p>IDACB International Secretariat</p>
			<div class="mt-3 text-center">
				<button class="g-button g-js-scroll-to" data-id="membership">
					Become a Member
				</button>
			</div>
		</div>
	</div>

	<div id="modal-advinfo" class="g-modal g-js-modal">
		<button class="g-modal__close g-js-modal__close"><i class="fa fa-close"></i></button>
		<div class="g-modal__content container">
			<div class="g-modal__header">
				<div class="g-modal__logo-box">
					<img class="g-modal__logo" src="{% static 'webapp/images/logo-document.png' %}">
				</div>
				<hr>
				<br>
				<h2>IDACB ICO Advisory Board</h2>
			</div>
			<p>IDACB ICO ADVISORY BOARD is a body, that unites the best ICO entrepreneurs, professionals, high-level experts in major blockchain spheres from 100 countries. Members of IDACB ICO ADVISORY BOARD are committed to provide valuable support to ICO projects for consideration and decision making, defining the project's development strategy, making them transparent through participation in ICO Advisory Boards. </p>
			<p>OFFICIAL IDACB ICO Advisor is exempt from payment of membership fees. </p>
			<p>EXECUTIVE IDACB ICO Advisor gives more opportunities to be invited by ICO, but needs a prove of result participation in more than 3 ICO and include annual fee. Becoming an official Executive Advisor for a project is worth investing and it brings future bonuses and builds a decent reputation. </p>
			<p>Every IDACB ICO ADVISOR should have a contract for each participation in ICO with IDACB. </p>
			<p>The decision enters into force on the date: <br>
			March, 15</p>
			<p>IDACB International Secretariat</p>
		</div>
	</div>

	<div id="modal-privacy" class="g-modal g-js-modal">
		<button class="g-modal__close g-js-modal__close"><i class="fa fa-close"></i></button>
		<div class="g-modal__content container">
			<div class="g-modal__header">
				<div class="g-modal__logo-box">
					<img class="g-modal__logo" src="{% static 'webapp/images/logo-document.png' %}">
				</div>
				<hr>
				<br>
				<h2>IDACB Privacy Policy</h2>
			</div>


			<p>International
			Decentralized Association of Cryptocurrency and Blockchain and its
			offices worldwide (“IDACB”, “we”, “us” and “our”) are
			committed to safeguarding your privacy and ensuring that you continue
			to trust IDACB with your personal data. When you interact with us,
			you may share personal information with us that allows identification
			of you as an individual (e.g. name, email address, address, and
			telephone number). This is known as “personal data”.</p>

			<p>This Privacy Policy
			applies where IDACB is acting as a data controller with respect to
			the personal data of you as a visitor to our websites and as a user
			of IDACB platforms and/or services, in other words, where IDACB
			determines the purposes and means of the processing of your personal
			data.</p>

			<p><b>1. Scope and acceptance of this Privacy Policy</b></p>

			<p>IDACB has developed
			this Privacy Policy to describe how and what type of personal data
			will be collected from users of IDACB websites and/or platforms and
			the purposes, for which IDACB may collect, share or disclose the
			personal data.</p>

			<p>By using IDACB
			websites, platforms, mobile apps, text messaging programs or through
			IDACB branded pages or applications on third-party social networks
			(e.g. Facebook) (“IDACB Sites”) or by giving us your personal
			data when registering for events or other services, you accept the
			collecting and processing of your personal data as described in this
			Privacy Policy. If you do not agree to this Privacy Policy, please do
			not use IDACB Sites or give us any personal data.</p>

			<p>This Privacy Policy
			applies to any information obtained by IDACB through your use of
			IDACB Sites. It is not applicable to any websites controlled by third
			parties not affiliated with IDACB that IDACB Site may link to (“Third
			Party Sites”). Please review the privacy statements of each of
			these Third Party Sites as IDACB is not responsible for and has no
			influence on the content or the privacy practices of Third Party
			Sites.</p>

			<p>IDACB reserves the
			right to make changes to this Privacy Policy at any time. We
			encourage you to regularly review this Privacy Policy to make sure
			you are aware of any changes and how your personal data may be used.</p>

			<p><b>2. What information do we collect and for what purposes?</b></p>

			<p>When you visit IDACB
			Sites, our web server automatically records details about your visit:
			for example, your IP address, the website from which you visit us,
			the type of browser software used IDACB Site pages that you actually
			visit including the date and the duration of your visit. Please see
			our Cookie Notice for information on these technologies and your
			rights in relation to them (See section 5).</p>

			<p>In addition, we
			process personal data that you provide through IDACB Sites, for
			example, when you enter personal details (e.g. name, gender, address,
			email address, phone/fax number) on a registration page or if you
			sign up for an email newsletter.</p>

			<p>IDACB may use the
			personal data that you provide to us with your consent for a
			specified purpose or when you interact with IDACB Sites or we process
			your data if we have legal basis, namely, with regards to your
			registration to IDACB events or your request of IDACB services.</p>

			<p>Furthermore, we
			operate (I) custom platforms, which are fully built and maintained by
			IDACB (“Custom Platforms”); and (II) cooperate with platforms
			which provide individual IDACB products or services, which are
			maintained and provided for by third-party providers (“Cooperation
			Platforms”), and (III) third party applications and services, which
			can be embedded or integrated into one of the platforms described
			under (I) or (II) (“Embedded Services”).</p>

			<p>I. Custom Platforms</p>

			<p>Public websites –
			www.​idacb.​com;​ wbcsummit.org​</p>

			<p>IDACB public
			websites are the external-facing platforms for public engagement with
			IDACB and provide insights into IDACB activities, initiatives,
			projects and roadmaps. The public websites also provide other
			services such as a blog, articles of general interest and
			livestreaming services of sessions and events during the said events
			and sessions. IDACB public websites may also contain links or login
			options that connect to TopLink.</p>

			<p>The public websites
			use third party cookies for analytics (Google Analytics, Chartbeat,
			Parse.ly and mixpanel) and to track common metrics such as platform
			engagement, concurrent users, maximum number of users, time spent on
			a page, etc. Any use of such analytics cookies is to improve your
			user experience and provide IDACB with valuable information to help
			IDACB to better tailor our services to our partners, members,
			constituents and participants.</p>


			<p><b>3. Children’s personal data</b></p>

			<p>IDACB does not
			knowingly solicit or collect personal data from children below the
			age of 18. If IDACB discovers that it has accidentally collected
			personal data from a child below the age of 18, it will remove that
			child’s personal data from its records as soon as reasonably
			possible. However, IDACB may collect personal data about children
			below the age of 18 years if authorized by the holder of parental
			responsibility over the child.</p>

			<p><b>4. How do we share personal data?</b></p>

			<p>We do not share your
			personal data with any third party that intends to use it for direct
			marketing purposes, unless you have provided specific consent in
			relation to this.</p>

			<p>IDACB may share your
			personal data with third parties for other purposes, but only in the
			following circumstances:</p>

			<p>I. With your consent</p>

			<p>We will share
			personal data with third parties outside of IDACB when we have your
			consent to do so. We require explicit opt-in consent for the sharing
			of any sensitive personal information.</p>

			<p>II. For legitimate
			interests</p>

			<p>We will share
			personal data based on legitimate interests as, for example, when you
			register for one of our events, except where such interests are
			overridden by your interests or fundamental rights, in which case we
			will request your explicit consent.</p>

			<p>III. For processing
			of IDACB’s offices in other regions</p>

			<p>We provide your
			personal data to IDACB’s offices in other regions for legitimate
			business purposes, on a “need-to-know” basis, based on our
			instructions and in compliance with our Privacy Policy and any other
			appropriate confidentiality and security measures.</p>

			<p>IV. For external
			processing (service providers)</p>

			<p>We may engage
			service providers, agents or contractors to provide services on our
			behalf, including to administer IDACB Sites and services available to
			you. These third parties may come to access or otherwise process your
			personal data in the course of providing these services.</p>

			<p>IDACB requires such
			third parties, who may be based outside the country from which you
			have accessed IDACB Site or service, to comply with all relevant data
			protection laws and security requirements in relation to your
			personal data, usually by way of a written agreement.</p>

			<p>V. Compliance with
			laws</p>

			<p>We will share
			personal data with third parties outside of IDACB if we have a
			good-faith belief that access, use, preservation or disclosure of the
			personal data is reasonably necessary to:</p>

			<p>- Meet any
			applicable law, regulation, legal process or enforceable governmental
			request</p>

			<p>- Enforce applicable
			Terms of Use, including investigation of potential violations</p>

			<p>- Detect, prevent or
			otherwise address fraud, security or technical issues</p>

			<p>- Protect against
			harm to the rights, property or safety of IDACB, our users or the
			public as required or permitted by law</p>

			<p><b>5. “Cookie Notice”</b></p>

			<p><b>5.1 About cookies</b></p>

			<p>A cookie is a small
			piece of information that a web server asks the user’s browser to
			store on the user’s local computer, and then later their browser
			presents this information to the web server. In its simplest form, a
			cookie is an identifying number.</p>

			<p><b>5.2 What type of cookies do we use?</b></p>

			<p>We use two types of
			cookies on IDACB Sites: persistent cookies and session cookies. A
			persistent cookie helps us recognize you as an existing user, so it's
			easier to return to IDACB Sites or interact with our services without
			signing in again. In the event you sign up to one of our platforms, a
			persistent cookie stays in your browser and will be read by the
			service when you return to one of our sites. Session cookies only
			last as long as the session (usually the current visit to a website
			or a browser session).</p>

			<p>We use cookies for
			anonymous user tracking. IDACB web server assigns each user a unique
			numerical ID (“ID”). All requests for pages are tagged with that
			ID, and by analyzing the log files, IDACB can determine how many
			unique users use IDACB Sites.</p>

			<p>5.3 How do we use
			cookies?</p>

			<p>IDACB does not know
			the identity of a person based on the ID. The cookies used by IDACB
			do not contain any personal data about you nor are they used to look
			up your personal data. Even if you have entered personal data about
			yourself in one of IDACB’s registration forms, IDACB does not
			relate that information to the cookie data.</p>

			<p>IDACB Sites may use
			cookies for analytics and to improve your user experience. IDACB
			Sites will usually not natively use cookies but our analytics
			providers do use these cookies to improve user experience.</p>

			<p>You are free to
			decline the cookies if your browser or browser add-on allows, except
			if the cookies are required to prevent fraud or ensure the security
			of IDACB Sites that IDACB controls. However, disabling the use of
			cookies will result in a less user-friendly experience of IDACB Sites
			or can fully prevent you from using IDACB Sites.</p>

			<p><b>6. How do we store or transfer your data?</b></p>

			<p>IDACB has offices
			and facilities in Switzerland, the United States, Japa​n,​
			China​, UAE, Russia and some other countries​. 
			</p>

			<p>When transferring
			personal data internationally, we make sure that we comply with
			applicable laws and regulations, for example, by entering into
			agreements that will ensure that the recipients of your information
			maintain an adequate level of data protection.</p>

			<p>Information
			collected within the European Economic Area (“EEA”) may, for
			example, be transferred to countries outside of the EEA for the
			purposes as described in this Policy. We utilize standard contract
			clauses approved by the European Commission, adopt other means under
			Swiss and European Union law and/or obtain your consent to legitimize
			data transfers from the EEA to the United States and other countries.</p>

			<p><b>7. Security of personal data</b></p>

			<p>IDACB is committed
			to protecting the security of your personal data. Any information
			provided to IDACB by you is handled with due care and security, and
			will not be used in ways other than as set forth in this Privacy
			Policy, or in any site/area-specific policies, or in ways to which
			users have not explicitly consented. IDACB employs a range of
			technologies and security measures to protect the information
			maintained on IDACB systems from loss, misuse, unauthorized access or
			disclosure, alteration or destruction.</p>

			<p>However, since the
			internet is not a 100% secure environment, IDACB cannot ensure nor
			guarantee the security of any information that the user may transmit
			to IDACB Sites. There is no guarantee that information may not be
			accessed, disclosed, altered or destroyed by breach of any of IDACB’s
			physical, technical or managerial safeguards.</p>

			<p>All IDACB employees
			who have access to and are associated with the processing of personal
			data are obliged to respect the confidentiality of all such personal
			data.</p>

			<p><b>8. How long do we retain personal data?</b></p>

			<p>IDACB will retain
			your personal data for the period necessary to fulfil the purposes
			outlined in this Privacy Policy and/or as long we require the
			personal data to provide you with IDACB services or products you
			requested, unless a longer retention period is required to comply
			with our legal obligations, resolve disputes and enforce our
			agreements.</p>

			<p><b>9. How can you access your data or contact us?</b></p>

			<p>You have a right to
			request access to your personal data. You may send us a request for
			access, provision of such information will be subject to the supply
			of appropriate evidence of your identity. You also have the right to
			request that IDACB corrects any inaccuracies in your personal data.</p>

			<p>You have the right
			to opt out of receiving marketing communications or any other
			information from IDACB or about IDACB events and can do so by (a)
			following the instructions for opt-out in the relevant marketing
			communication or (b) by contacting us.</p>

			<p>Should you have any
			questions, concerns and/or complaints about this Privacy Policy or if
			you would like to make any recommendations or comments to improve the
			quality of our Privacy Policy, please email us ​at
			secretariat@idacb.com</p>

			<p><b>10. Our details</b></p>

			<p>IDACB is the data
			controller for personal data we collect through means stated in this
			Privacy Policy. Our address is:</p>

			<p>​idacb.com</p>            
		</div>
	</div>

{% endblock %}

{% block extra_body %}
	{{block.super}}

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12&appId=179843919434361&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}