{% extends 'webapp/base.html' %}
{% load static hosts %}
{% block title %}The page is in development | IDACB{% endblock %}
{% block class_body %}{{block.super}} text-center {% endblock %}
{% block content %}
	
	<div class="g-in-development container-fluid">
		<div>
			<a target="_blank" href="{% host_url 'home' %}" class="mx-auto d-inline-block g-a-reset">
				<div class="g-logo med-logo">
					<img class="g-logo__emblem g-logo__emblem_circle" src="{% static 'webapp/images/logo.svg' %}">
					<div class="g-logo__type"><b>International Decentralized Association<br/> of Cryptocurrency and Blockchain</b></div>
				</div>
			</a>
		</div>
		<h1 class="g-header__title">Sorry. This page is in development</h1>
		<p>You can contact us by:</p>
		<div class="g-social-links">
			<a target="_blank" rel="nofollow" href="https://www.facebook.com/IntDACB/" class="g-social-links__link"><i class="fa fa-facebook"></i></a>
			<a target="_blank" rel="nofollow" href="https://twitter.com/idacbinternati1" class="g-social-links__link"><i class="fa fa-twitter"></i></a>
			<a target="_blank" rel="nofollow" href="http://t.me/idacbblockchain" class="g-social-links__link"><i class="fa fa-telegram"></i></a>
			<a target="_blank" rel="nofollow" href="mailto:secretariat@idacb.com" class="g-social-links__link"><i class="fa fa-envelope"></i></a>
		</div>
	</div>

{% endblock %}