{% load thumbnail %}
<div class="col-12 col-sm-6 col-md-3 g-person">
	<div class="row">
		<div class="col-5 col-sm-12 g-person__avatar">
			{% thumbnail person.picture "200x200" crop="center" colorspace=colorspace|default:"RGB" as im %}
				<div class="g-person__picture" style="background-image: url('{{im.url}}')">
					{% if person.country and person.country.flag and show_country_flag %}
						<img class="g-person__flag" src="{{person.country.flag.url}}">
					{% endif %}
				</div>
			{% endthumbnail %}
			{% block extra_avatar %}{% endblock %}
		</div>
		<div class="col-7 col-sm-12 g-person__text">
			{% if person.link %}
				<a target="_blank" rel="nofollow" href="{{person.link}}">
					<div class="g-person__name">{{person.name}}</div>	
				</a>
			{% else %}
				<div class="g-person__name">{{person.name}}</div>
			{% endif %}
			<div class="g-person__description">{{person.description}}</div>
			{% if person.country and not hide_country_name %}
				<div class="g-person__country text-uppercase"><i>{{person.country.name}}</i></div>
			{% endif %}
			{% block extra_text %}{% endblock %}
		</div>
	</div>
</div>