{% extends "webapp/person.html" %}
{% block extra_avatar %}
	<button class="g-button g-button_small text-uppercase g-js-modal-open d-none d-sm-block g-person__button" data-id="modal-advisor-{{person.id}}">Get this advisor</button>
{% endblock %}
{% block extra_text %}
	<button class="g-button g-button_small text-uppercase g-js-modal-open d-sm-none" data-id="modal-advisor-{{person.id}}">Get this advisor</button>
{% endblock %}
