{% extends 'media_page/base.html' %}
{% load static hosts %}
{% block title %}Advantages to IDACB media placement{% endblock %}
{% block class_body %} text-center {% endblock %}
{% block content %}
	<div class="g-header med-header container-fluid">
		<div class="row">
			<div class="container">
				<div>
					<a target="_blank" href="{% host_url 'home' %}" class="mx-auto d-inline-block g-a-reset">
						<div class="g-logo med-logo">
							<img class="g-logo__emblem g-logo__emblem_circle" src="{% static 'webapp/images/logo.svg' %}">
							<div class="g-logo__type"><b>International Decentralized Association<br/> of Cryptocurrency and Blockchain</b></div>
						</div>
					</a>
				</div>
				<h1 class="g-header__title">Advantages to IDACB media placement</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid g-screen med-screen">
		<div class="row">
			<div class="container ">
				<div class="med-number">1</div>
				<h2 class="g-screen__title">High rate of Media</h2>
				<div class="g-screen__subtitle med-screen__subtitle">We collaborate with <b>25 world most efficient businesses & crypto media websites</b> and the list keeps growing.</div>
				<div class="row med-partners">

					{% for partner in partners %}
						<a target="_blank" rel="nofollow" class="col-4 col-md-2 med-partner" href="{{partner.link}}">
							<div class="med-partner__logo" style="background-image: url('{{partner.logo.url}}')"></div>
						</a>
					{% endfor %}
					
				</div>
				<div>
					<div class="med-table">
						<div class="med-table__title">Rating methodology:</div>
						<ul class="med-table__body">
							<li>Only IDACB partners are included</li>
							<li>We explore most popular media rankings and calculate aggregate positions</li>
							<li>We take into account number of monthly unique visitors, average visit duration, and citation index</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="container-fluid g-screen g-screen_thirdinary med-screen">
		<div class="row">
			<div class="container ">
				<div class="med-number">2</div>
				<h2 class="g-screen__title">Price</h2>
				<div class="g-screen__subtitle med-screen__subtitle med-screen__subtitle_no-margin">IDACB media partners offer a <b>discount of up to 50%</b> on the placement of advertising and PR materials: news, press releases, and articles.</div>
			</div>
		</div>
	</div>
	<div class="container-fluid g-screen med-screen">
		<div class="row">
			<div class="container ">
				<div class="med-number">3</div>
				<h2 class="g-screen__title">Pace</h2>
				<div class="g-screen__subtitle med-screen__subtitle med-screen__subtitle_no-margin">IDACB offers placement of PR and advertisement at understated prices. Here we include <b>press-releases, news, articles, and banners</b> for the international and regional businesses and blockchain media at a discounted rate of up to 50% and <b>placement within 10 days</b>.</div>
			</div>
		</div>
	</div>
	<div class="container-fluid g-screen g-screen_thirdinary med-screen">
		<div class="row">
			<div class="container ">
				<div class="med-number">4</div>
				<h2 class="g-screen__title">Assessment</h2>
				<div class="g-screen__subtitle med-screen__subtitle med-screen__subtitle_no-margin">Our experience in collaborating with media allows us to <b>prepare a valid media plan for your project and choose the right media</b> for the implementation of the goals and objectives of your ICO project.</div>
			</div>
		</div>
	</div>
	<div id='apply' class="container-fluid g-screen g-screen_light med-screen_color med-screen">
		<div class="row">
			<div class="container ">
				
				<div class="g-screen__title g-screen__title_light" style="margin-bottom: 0">
					To start collaborating with IDACB on media placement please fill out the following form or just send us a letter to <a href="mailto:media@idacb.com">media@idacb.com</a>
				</div>
				
			</div>
		</div>
	</div>
	<div class="g-google-form">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdPPT_yKbqYqF2nZqnweAvCEYeroyBENAWKay0M9UR6ILSRwA/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</div>
	<div class="container g-apply g-js-apply-button" style='z-index: 15'>
		<button class="g-apply__button g-js-scroll-to" data-id='apply'>
			<span class="g-apply__text">Apply</span>
		</button>
	</div>

{% endblock %}