{% extends 'media_page/base.html' %}
{% load static hosts %}
{% block title %}Advantages to media collaboration | IDACB{% endblock %}
{% block class_body %} text-center {% endblock %}
{% block content %}
	<div class="g-screen container-fluid">
		<div class="row">
			<div class="container">
				<div>
					<a target="_blank" href="{% host_url 'home' %}" class="mx-auto d-inline-block g-a-reset">
						<div class="g-logo med-logo">
							<img class="g-logo__emblem g-logo__emblem_circle" src="{% static 'webapp/images/logo.svg' %}">
							<div class="g-logo__type"><b>International Decentralized Association<br/> of Cryptocurrency and Blockchain</b></div>
						</div>
					</a>
				</div>
				<h1 class="g-screen__title g-screen__title_heavy">Advantages to media collaboration</h1>
				<div class="row med-partners">

					{% for partner in partners %}
						<a target="_blank" rel="nofollow" class="col-4 col-md-2 med-partner" href="{{partner.link}}">
							<div class="med-partner__logo" style="background-image: url('{{partner.logo.url}}')"></div>
						</a>
					{% endfor %}
					
				</div>

			</div>
		</div>
	</div>
	<div class="container-fluid g-screen g-screen_thirdinary med-screen">
		<div class="row">
			<div class="container ">
				<div class="med-number">1</div>
				<h2 class="g-screen__title med-screen__title">Participation In Ranking</h2>
				<div class="g-screen__subtitle med-screen__subtitle med-screen__subtitle_no-margin text-center">
					<div class="med-list"><b>*</b></div>
					<div>Only IDACB partners are included in ranking of authorised media based on success rate</div>
					<div class="med-list"><b>*</b></div>
					<div>We explore most popular media rankings and calculate aggregate positions</div>
					<div class="med-list"><b>*</b></div>
					<div>We take into account number of monthly unique visitors, average visit duration, and citation index</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid g-screen med-screen">
		<div class="row">
			<div class="container ">
				<div class="med-number">2</div>
				<h2 class="g-screen__title">Insight</h2>
				<div class="g-screen__subtitle med-screen__subtitle med-screen__subtitle_no-margin">Media partners are <b>the first to receive annotations</b> from leading speakers (members and partners of IDACB), including government representatives</div>
			</div>
		</div>
	</div>
	<div class="container-fluid g-screen g-screen_thirdinary med-screen">
		<div class="row">
			<div class="container ">
				<div class="med-number">3</div>
				<h2 class="g-screen__title med-screen__title">Top Cryptoevents</h2>
				<div class="g-screen__subtitle med-screen__subtitle med-screen__subtitle_no-margin text-center">
					<div style="margin-bottom: 1em;"><b>IDACB orginizes TOP level international events for both wide and crypto-specific audiences. Partners get:</b></div>
					<div class="med-list"><b>*</b></div>
					<div>Media logo placement on the site of the event</div>
					<div class="med-list"><b>*</b></div>
					<div>Announcement of media partners at the event</div>
					<div class="med-list"><b>*</b></div>
					<div>The opportunity to distribute media handout materials</div>
					<div class="med-list"><b>*</b></div>
					<div>The placement of media banners, roll-ups at the event venue, as well as brand logos shown on the screens during the event</div>
				</div>
			</div>
		</div>
	</div>
	<div id="apply" class="container-fluid g-screen g-screen_light med-screen_color med-screen">
		<div class="row">
			<div class="container ">
				<div class="g-screen__title g-screen__title_light" style="margin-bottom: 0">
					To start collaborating with IDACB on media placement please fill out the following form or just send us a letter to <a href="mailto:media@idacb.com">media@idacb.com</a>
				</div>
				
			</div>
			
		</div>
	</div>
	<div class="g-google-form">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc8eFz0NSJW-GDJZDkxJMyDC27PDs9xG8To2gvPUKY7PxS9Qw/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</div>
	<div class="container g-apply g-js-apply-button" style='z-index: 15'>
		<button class="g-apply__button g-js-scroll-to" data-id='apply'>
			<span class="g-apply__text">Apply</span>
		</button>
	</div>
	
{% endblock %}
