{% extends 'media_page/base.html' %}
{% load static hosts %}
{% block title %}IDACB Media{% endblock %}
{% block class_body %}{{block.super}} med-welcome {% endblock %}
{% block content %}
	
	<div class="med-welcome__container container">
		<div class="med-welcome__header">
			<div>
				<a target="_blank" class="mx-auto d-inline-block g-a-reset" href="{% host_url 'home' host 'default' scheme 'https' %}">
					<div class="med-welcome__logo">
						<img class="med-welcome__emblem" src="{% static 'webapp/images/logo.svg' %}">
						<div>International Decentralized Association<br/> of Cryptocurrency and Blockchain</div>
					</div>
				</a>
			</div>
			<h1 class="med-welcome__title d-inline-block text-uppercase text font-weight-bold">Media</h1>
		</div>
		<div class="med-welcome__links">
			<div class="med-welcome__side">
				<a href="{% url 'blockchainer' %}" class="med-welcome__link">
					<span class="text-uppercase">For Blockchainers</span>
				</a>
			</div>
			<div class="med-welcome__side">
				<a href="{% url 'cryptomedia' %}" class="med-welcome__link">
					<span class="text-uppercase">For Cryptomedia</span>
				</a>
			</div>
		</div>
	</div>

{% endblock %}