.ver-screen {
  position: relative;  
}
.ver-screen__plan-title {
  font-size: 5em;
  margin-bottom: 0;
}

.ver-screen_silver .ver-screen__content {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#CCCCCC),color-stop(50%,#EEEEEE), color-stop(50%,#EEEEEE), color-stop(100%,#CCCCCC));
  color: #444;
}
.ver-screen_silver .ver-screen__title {
  text-shadow: 0px 1px 0 #fff, 0px -1px 0 #3a3a3a;
}
.ver-screen_silver .ver-screen__plan-title {
  text-shadow: 0px 2px 0 #fff, 0px -2px 0 #3a3a3a;
}

.ver-screen_gold .ver-screen__content {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffad39),color-stop(50%,#fffc91), color-stop(50%,#fffc91), color-stop(100%,#ffad39));
  color: #402e1a;
}
.ver-screen_gold .ver-screen__title {
  text-shadow: 0px 1px 0 #ffeca8, 0px -1px 0 #382b12;
}
.ver-screen_gold .ver-screen__plan-title {
  text-shadow: 0px 2px 0 #ffeca8, 0px -2px 0 #231700;
}
.ver-screen__shadow {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 16px;
  background: #fff;
  border-radius: 290px / 8px;
  box-shadow: 0 10px 20px #636363;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
}
.ver-screen_gold .ver-screen__shadow {
  box-shadow: 0 10px 20px #48300c;
}
.ver-screen_gold .g-number {
  border-color: #402e1a;
}