.cou-list {
	text-align: left;
	line-height: 1.4em;
}
.cou-list__item {
	margin-bottom: 5em;
}
.cou-country {
}
.cou-country__flag {
	width: 7em;
	height: 7em;
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}
.cou-country__flag>img {
	width: 100%;
	border: 1px solid #ddd;
}
.cou-country__name {
	font-size: 1.4em;
	font-weight: 700;
}

.cou-country__field {
	margin-bottom: 1em;
}
.cou-field__title {
	margin-bottom: .5em;
	font-style: italic;
	font-size: .9em;
}

.cou-person {
	display: flex;
	justify-content: left;
	align-items: center;
}
.cou-person__picture {
	width: 3em;
	height: 3em;
	border-radius: 3em;
	margin-right: .5em;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	position: relative;
}
.cou-person__picture>img {
	width: 100%;
}
.cou-person__text {
	max-width: 60%
}
.cou-person__name {
	font-weight: 700;
}
.cou-person__link {
	line-height: 1.2;
	font-size: .7em;
	overflow-wrap: break-word;
  	word-wrap: break-word;
}