.hom-header {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.hom-header__textblock {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2em;
}
.hom-header__logo {
	margin-bottom: 2em;
}
.hom-header__header {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.5em;
	max-width: 30em;
}
.hom-header__links {
	margin-top: 2em;
}
.hom-header__link {
	margin: .5em;
	width: 25em;
	white-space: nowrap;
	padding-left: 0;
	padding-right: 0;
}
.hom-header__membership {
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 700;
	margin: 1em 2em 2em;
	font-size: 1.4em;
}
.hom-header__membership:hover {
	color: #f2e41d;
}
.hom-form {
	background: radial-gradient(ellipse at center -50%, #fff459 10%,#ffffff 100%);
	color: #304EA1;
}
.hom-form__title {
	margin-bottom: .5em;
}
.hom-inter {
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-top: 1em;
}
.hom-inter__text {
	font-size: 2em;
}
.hom-inter__globe {
	font-size: 8em;
}
.hom-inter__number {
	font-size: 2em;
	font-weight: 700;
}