@import url('//fonts.googleapis.com/css?family=Raleway%3A300%2C400%2C500%2C600%2C700%2C800&amp;subset=latin-ext&amp;ver=1.0.0');

* {
    transition: 
    	color .33s, 
    	background-color .33s, 
    	border-color .33s, 
    	transform .33s, 
    	opacity .33s;
}

body {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    line-height: 2em;
    color: #444;
    font-weight: 400;
}
a {
    color: #444;
}
a:hover {
	color: #444;
}
@media (max-width: 576px) {
	body {
		font-size: 11px;
	}
}
.u-circle-bg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 100%;
}
.g-header {
	background: url('../images/header-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	letter-spacing: .1em;
	transition: none;
}
.g-header_full {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.g-header__title {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2.5em;
}
.g-topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
	max-width: 60em;
    width: 100%;
    flex-wrap: wrap;
}
.g-fixed-menu {
	position: fixed;
	top: 0;
	background-color: #fff;
	width: 100%;
	font-size: .9em;
	z-index: 3;
	padding: 1em;
	opacity: 0;
	pointer-events: none;
}
@media (max-width: 960px) {
	.g-fixed-menu {
		font-size: .8em;
	}
}
.g-fixed-menu_show {
	opacity: 1;
	pointer-events: all;
}
.g-fixed-menu__logo {
	width: 4em;
}
.g-fixed-menu__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-width: 87em;
}
.g-fixed-menu .g-fixed-menu__button {
    width: 10em;
    max-height: 4em;
    text-align: center;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 768px) {
	.g-fixed-menu {
		display: none;
	}
}
.g-topbar_header {
	justify-content: center;	
}
.g-topbar_header .g-topbar__link {
	margin: 0 1em;
}
@media (max-width: 768px) {
	.g-topbar {
		visibility: hidden;
	}
}
.g-topbar__logo {
	height: 5em;
	width: 5em;
}
.g-nav__link {
	text-transform: uppercase;
	font-weight: 700;
	color: #444;
}
.g-nav__link:hover {
	color: #304EA1;
	text-decoration: none;
}
.g-nav_dark .g-nav__link {
	color: #fff;
}
.g-nav_dark .g-nav__link:hover {
	color: #f2e41d;
}
.g-nav_horizontal {
	margin-left: -.5em;
	margin-right: -.5em;
}
.g-nav_horizontal .g-nav__link {
	margin-left: .5em;
	margin-right: .5em;
}
.g-button {
	padding: .8em 2em;
	background-color: #304EA1;
	border-radius: 0;
	display: inline-block;
	color: #fff;
	font-weight: 700;
	letter-spacing: .1em;
	border: none;
	cursor: pointer;
	outline: none !important;
	text-align: center;
	text-decoration: none !important;
}
.g-button_transparent {
	background-color: transparent;
	border: 2px solid #444;
	color: #444;
}
.g-button_transparent_color {
	background-color: transparent;
	border: 2px solid #304EA1;
	color: #304EA1;	
}
.g-button_transparent_light {
	color: #fff;
	border-color: #fff;
}
.g-button_small {
	padding: .7em;
    letter-spacing: 0;
    line-height: 1;
    font-weight: 600;
    font-size: .8em;
    border-width: 1px;
}
.g-button_transparent:hover {
	border-color: #f2e41d;
}
.g-button:hover {
	background-color: #f2e41d;
	color: #304EA1;
	text-decoration: none;
}
.g-welcome-letter__seal {
	float: left;
	margin-right: 1em;
}
.g-welcome-letter__sign {
	float: right;
	width: 13em;
}
.g-welcome-letter {
	padding: 8em 2em 4em;
}
@media (max-width: 768px) {
	.g-welcome-letter__seal {
		width: 7em;
	}
	.g-welcome-letter__sign {
		width: 10em;
	}
}
.g-welcome-letter__top {
	text-align: center;
	margin-bottom: 5em;
}
.g-welcome-letter__logo {
	display: inline-block;
	width: 8em;
}
.g-shows {
	background-color: #eee;
	padding: 4em 0;
}
.g-shows__title {
	text-transform: uppercase;
	margin-bottom: 1em;
}
.g-shows__picture {
	width: 100%;
	margin: 1em 0;
}
.g-shows__picture:hover {
	transform: scale(1.04); 
}
.g-mobile-menu {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 3;
}
@media (max-width: 768px) {
	.g-mobile-menu {
		display: block;
	}
}
.g-mobile-menu__button {
	font-size: 1em;
    width: 19em;
    margin: .5em;
    padding: 1em 0;
    font-weight: 700;
}
.g-mobile-menu__logobox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	pointer-events: none;
}
.g-mobile-menu__logo {
	width: 3em;
}
.g-mobile-menu__nav {
	display: flex;
	align-items: center;	
	justify-content: center;
	flex-wrap: wrap;
	padding: 1em 0;
}
.g-mobile-menu__link {
	padding: .5em 2em;
	text-align: center;
	color: inherit;
	font-weight: 700;
	text-transform: uppercase;
}
.g-mobile-menu__link:hover {
	color: #f2e41d;
	text-decoration: none;
}
.g-presentation {
	padding: 4em 1em;
}
.g-presentation__links {
	margin-bottom: 2em;
}
.g-presentation__link {
	margin: .5em 0;
	width: 100%;
	text-transform: uppercase;	
}
.g-presentation__partners {
	background-color: #eee;
	padding: 1em;
}
.g-presentation__logo-partner {
	width: 100%;
	max-width: 15em;
}
.g-presentation__partner_mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 2em;
	background-color: #e0e0e0;
}
.g-mobile-aside__logo {
	width: 12em;
}
.g-mobile-aside__logo-box {
	margin-bottom: 1em;
}
.g-presentation__fb_mobile {
	text-align: center;
}
@media (min-width: 576px) and (max-width: 768px) {
	.g-presentation__fb_mobile {
		padding: 2em 0 0;
	}
}
.g-credentials {
	text-align: center;
	line-height: 1.3;
	padding: 2em 0;
}
.g-credentials__logo {
	text-align: center;
}
.g-credentials__company-name {
	text-transform: uppercase;
	font-weight: 700;
	color: #304EA1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 1em 0;
}
.g-credentials__contacts {
	background-color: #304EA1;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	font-weight: 700;
}
.g-credentials__link {
	color: #fff;
	text-decoration: underline;
}
.g-credentials__link:hover {
	color: #f2e41d;
}
@media (min-width: 992px) {
	.g-credentials__company-name {
		text-align: left;
	}	
	.g-credentials__contacts {
		align-items: baseline;
		font-size: .9em;
	}
}
.g-video {
	background: radial-gradient(ellipse at center, #1e5799 0%,#000000 100%);
	line-height: 0;
	padding: 0;
}
.g-video__box {
	padding: 0;
}
.g-form {
	padding: 2em;
	max-width: 40em;
	width: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.g-form .helptext {
	font-size: .9em;
	opacity: .7;
}
.g-form .form-group.required label {
	position: relative;
	margin-bottom: 1em;
}
.g-form .form-group.required label:before {
	content: '(required)';
	display: inline-block;
	position: absolute;
	bottom: -1.2em;
	font-size: .8em;
	font-style: italic;
	opacity: .6;
}
.g-form .errorlist {
	color: #dc3545;
	padding-left: 0;
	margin-bottom: .2em;
	font-size: .9em;
	font-weight: 700;
}
.g-form .errorlist li {
	list-style: none;
}
.g-form input::placeholder {
	color: #bbb;
}
.g-form__mock {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.g-form__mock-box {
	position: relative;
}
.g-form__icon {
	font-size: 5em;
}
.g-form__icon_success {
	color: green;
}
.g-form__success-message {
	font-size: 1.3em;
	font-weight: 700;
	text-align: center;
}
.g-form_success form,
.g-form_loading form {
	opacity: .2;
	pointer-events: none;
}
.g-form_success .g-form__success,
.g-form_loading .g-form__loading {
	display: flex;
}
.g-form__title {
	text-transform: uppercase;
	font-weight: 700;
}
.g-team {
	text-align: center;
	padding: 4em 1em;
}
.g-team__title {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1em;
}
.g-team__party-title {
	margin-bottom: 2em;
}
.g-person {
	margin-bottom: 2em;
}
.g-person__picture {
	width: 8em;
	height: 8em;
	border-radius: 8em;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.g-person__avatar {
	text-align: right;
}
.g-person__name {
	font-weight: 700;
	font-size: 1.3em;
	margin-bottom: .5em;
}
.g-person__description {
	line-height: 1.3;
}
.g-person__text {
	text-align: left;
}
.g-person__text a {
	text-decoration: underline;
}
.g-person__flag {
	width: 4em;
	position: absolute;
	bottom: .5em;
	right: -1em;
}
.g-person__button {
	margin-bottom: 1em;
	margin-top: -2em;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	position: relative;
	opacity: 0;
}
.g-person:hover .g-person__button {
	opacity: 1;
}
@media (max-width: 992px) {
	.g-person__button {
		opacity: 1;
	}
}
@media (min-width: 576px) {
	.g-person__text {
		text-align: center;
	}
	.g-person__avatar {
		text-align: center;
	}
}
.g-container_secondary,
.g-screen_secondary {
	background-color: #eee;
}
.g-container_thirdinary,
.g-screen_thirdinary {
	background-color: #f5f5f5
}
.g-screen_color {
	background-color: #304EA1;
	color: #fff;
}
.g-screen_color a {
	color: #f2e41d;
	text-decoration: underline;
}
.g-screen_color a:hover {
	color: #f2e41d;
}
.g-screen_color .g-button {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}
.g-screen_color .g-button:hover {
    background-color: #f2e41d;
    border-color: #f2e41d;
    color: #304EA1;
    text-decoration: none;
}
.g-screen_color2 {
	background-color: #f2e41d;
	color: #304EA1;
}
.g-screen_color2 .g-button {
	background-color: transparent;
	border: 2px solid #304EA1;
    color: #304EA1;
}
.g-screen_color2 .g-button:hover {
    background-color: #304EA1;
    color: #fff;
    text-decoration: none;
}
.g-countries {
	background-color: #304EA1;
	color: #fff;
}
.g-screen {
	padding: 5em 1em;
}
.g-screen__title {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2em;
	font-size: 2em;
}
.g-screen__title_heavy {
	font-size: 2.5em;
}
.g-screen_light .g-screen__title {
	text-transform: none;
	font-size: 1.4em;
}
.g-screen_light .g-screen__subtitle {
	margin-top: 0
}
.g-screen__subtitle {
	margin-top: -2em;
	max-width: 40em;
	margin-bottom: 5em;
	font-size: 1.4em;
	margin-left: auto;
	margin-right: auto;
}
.g-screen__subtitle_no-margin {
	margin-bottom: 0;
}
.g-country {
	text-align: center;
	line-height: 1.3;
	margin-bottom: 1em;
}
.g-country>* {
	margin: 1em 0;
}
.g-country__name {
	font-weight: 700;
}
.g-country__picture {
	width: 7em;
}
.g-country__link {
	color: #f2e41d;
	text-decoration: underline;
}
.g-country__link:hover {
	color: #fff;
}
.g-companies {
	margin-bottom: 2em;
}
.g-companies__list {
	display: flex;
	margin: -.5em;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.g-companies__item {
	margin: .5em 1em;
	max-width: 12em;
}
.g-world-map {
	max-width: 100%;
	margin: 4em 0;
}
.g-footer {
	background-color: #304EA1;
}
.g-footer__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.g-footer__link {
	margin: 0 -.2em;
}
.g-social-links {
	font-size: 2em;
}
.g-footer__link {
	color: #fff;
	font-weight: 700;
	margin: 0 .2em;
}
.g-footer__link:hover {
	text-decoration: none;
	color: #f2e41d;
}
.g-basement {
	padding: 1em;
	background-color: #303030;
	color: #eee;
	text-align: center;
}
.g-files__list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -1em;
}
.g-files__item {
	margin: .5em 1em;
	color: inherit;
	font-size: 1.2em;
}
.g-files__item:hover {
	text-decoration: none;
}
@media (max-width: 768px) {
	.g-files__item {
		width: 100%;
	}
}
.g-modal {
	position: fixed;
	z-index: 3;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	top: 0;
	left: 0;
	overflow-y: auto; 
	display: none;
}
.g-modal, .g-modal * {
	transition: none;	
}
.g-noscroll {
	overflow: hidden;
}
.g-modal__close {
	background-color: transparent;
	border: none;
	padding: 1em;
	font-size: 1.5em;
	cursor: pointer;
	position: absolute;
	top: 1em;
	right: 1em;
	outline: none !important;
	color: #444;
}
.g-modal__close:hover {
	color: #000;
}
.g-modal__content {
	padding: 4em 2em 2em;
	max-width: 
}
.g-modal__content_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}
.g-modal__header {
	text-transform: uppercase;
	margin-bottom: 4em;
	text-align: center;
}
.g-modal__logo-box {
	margin-bottom: 3em;
}
.g-modal__logo {
	width: 5em;
}
.g-logo {
	margin-bottom: 1em;
}
.g-logo__emblem {
	width: 6em;
	margin-bottom: .5em;
}
.g-logo__emblem_circle {
	width: 5em;
	background-color: #fff;
	padding: .3em;
	border-radius: 5em;
}
.g-logo__type {
	line-height: 1.2;
}
.g-a-reset {
	color: inherit;
}
.g-a-reset:hover {
	color: inherit;
	text-decoration: none;
}
.g-color-primary {
	color: #304EA1;
}
.g-google-form {
	/*max-width: 50em; */
	/*height: 70em; */
	/*margin-top: 5em;*/
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}
.g-in-development {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.g-number {
	width: 1.8em;
    height: 1.8em;
    line-height: 1.6;
    text-align: center;
    padding-bottom: .1em;
    font-size: 2.3em;
    border-radius: 5em;
    border: 2px solid #444;
    display: inline-block;
    margin-bottom: .3em;
}
.g-partner {
	margin-bottom: 3em;
}
.g-partner__logo {
	width: 7em;
	height: 7em;
	max-width: 100%;
	margin: auto;
	margin-bottom: 1em;
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.g-partners_lg .g-partner__logo {
	width: 10em;
	height: 10em;
}
.g-partner__name {
	max-width: 12em;
	margin: auto;
	line-height: 1.5;
	font-weight: 600;
	font-size: .8em;
}
.g-partners {
	justify-content: center;
	margin-bottom: -3em;
}
.g-screen_apply {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.g-apply {
	position: fixed;
	left: 0;
    right: 0;
	bottom: 10em;
	opacity: 0;
	pointer-events: none;
	font-size: .9em;
}
.g-apply_show {
	opacity: 1;
	pointer-events: all;
}
@keyframes apply-button {
    0%   {transform: scale(1);}
    2.5%   {transform: scale(1.1);}
    5%   {transform: scale(1);}
    100%   {transform: scale(1);}
}
.g-apply__button {
	position: absolute;
	right: 4em;
	width: 7em;
	height: 7em;
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
	background: radial-gradient(#a1e88d 0%,#2d8a54 100%);
	background-color: #008738;
	background-position: center -1.5em;
	border-radius: 7em;
	cursor: pointer;
	border: none;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	outline: none !important;
	box-shadow: 0px 5px 18px -4px rgba(0,0,0,0.75);
	text-shadow: 0px 1px 0 #fff, 0px -1px 0 #717171;
	animation-name: apply-button;
	animation-delay: 2s; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.g-apply__button:hover {
	background-image: radial-gradient(ellipse at center, #98ef3b 0%,#008404 100%);
	transform: scale(1.1);
	animation: none;
}
a.g-apply__button {
	text-decoration: none !important;
	color: #fff !important;
}
.g-apply__text {
	font-size: 1.5em;
}

.g-no-mb {
	margin-bottom: 0;
}
.g-document__topbar {
	padding: 1em 0;
}