{% extends 'webapp/base.html' %}
{% load static hosts thumbnail %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'verification_page/css/styles.css' %}">
{% endblock %}
{% block title %}Pitch School | IDACB{% endblock %}
{% block class_body %}{{block.super}} text-center {% endblock %}
{% block content %}
	
	<div class="g-screen g-header g-header_full container-fluid">
		<div class="row">
			<div class="container">
				<div>
					<a target="_blank" href="{% host_url 'home' %}" class="mx-auto d-inline-block g-a-reset">
						<div class="g-logo med-logo">
							<img class="g-logo__emblem g-logo__emblem_circle" src="{% static 'webapp/images/logo.svg' %}">
							<div class="g-logo__type"><b>International Decentralized Association<br/> of Cryptocurrency and Blockchain</b></div>
						</div>
					</a>
				</div>
				<br>
				<h1 class="g-screen__title ver-screen__title g-screen__title_heavy">Pitch School</h1>
				<div class="g-screen__subtitle med-screen__subtitle g-screen__subtitle_no-margin">
					<p>IDACB Pitching School will teach you how to prepare an efficient pitch, attract investor’s money and get high scores from experts.</p>
					<p>Moreover, after the Pitch School, you will be prepared to IDACB Roadshow with investors from all over the world.</p>
				</div>
				<br>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="container py-5">
			<h2 class="h3 text-uppercase mb-5"><b>Our pitch trainers</b></h2>
			<div class="row">
				
				{% for coach in coaches %}
					<div class="col-12 col-sm-6 col-md-3 g-person">
						<div class="row">
							<div class="col-5 col-sm-12 g-person__avatar">
								{% thumbnail coach.picture "200x200" crop="center" as im %}
									<div class="g-person__picture" style="background-image: url('{{im.url}}')"></div>
								{% endthumbnail %}
							</div>
							<div class="col-7 col-sm-12 g-person__text">
								<div class="g-person__name">{{coach.name}}</div>
								<div class="g-person__description">{{coach.description}}</div>
								{% if coach.link_linkedin %}
									<a class="btn btn-outline-secondary mt-3" target="_blank" rel="nofollow" href="{{coach.link_linkedin}}">
										<i class="fa fa-linkedin"></i>
									</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="bg-light">
		<div class="container py-5">
			<h2 class="h3 text-uppercase mb-5"><b>Price List</b></h2>
			<div style="border: 4px solid">
				<div class="p-4 p-md-5 text-left" style="background-color: #fbfbfb	">
					<h3 class="h4"><b>Pitch School Group</b></h3>
					<p>
						<ul>
							<li>1 day of training with top pitch experts will allow you to create and present an efficient pitch</li>
						</ul>
					</p>
					<hr>
					<div style="font-size: 1.3em">
						<b>Price: $2000</b>
					</div>
				</div>
				<div class="p-4 p-md-5 text-left" style="background-color: #f1f1f1">
					<h3 class="h4"><b>Pitch ICO Personal</b></h3>
					<p>
						<ul>
							<li>1 day of training with top pitch experts</li>
							<li>3 days of personal preparation for one member of the team</li>
							<li>Personal recommendations after watching the founder’s pitch video</li>
						</ul>
					</p>
					<hr>
					<div style="font-size: 1.8em">
						<b>Price: 1 BTC</b>
					</div>
				</div>
				<div class="p-4 p-md-5 text-left" style="background-color: #e8e8e8">
					<h3 class="h4"><b>Pitch ICO Team</b></h3>
					<p>
						<ul>
							<li>1 day of training with a deep dive into the world of pitches</li>
							<li>3 days of full team preparation by the professional pitch trainer</li>
							<li>Personal recommendations after watching the founder’s pitch video</li>
							<li>Recommendations to improve the presentation</li>
						</ul>
					</p>
					<p>
						In summary, you will create a presentation, practice it, get expert feedback and be ready to attract <b>x2</b> investments on the roadshow
					</p>
					<hr>
					<div style="font-size: 1.8em">
						<b>Price: 2 BTC</b>
					</div>
				</div>
				<div class="p-4 p-md-5 text-left" style="background-color: #d8d8d8">
					<h3 class="h4"><b>Pitch Outsourcing</b></h3>
					<p>
						Get a professional pitcher who will represent your project on the stage
					</p>
					<p>
						<ul>
							<li>Improved presentation</li>
							<li>Professional pitcher</li>
							<li>Pitch preparation together with the team</li>
						</ul>
					</p>
					<hr>
					<div style="font-size: 1.8em">
						<b>Price: 2.5 BTC</b> + 5% of Investment for the <a target="_blank" href="https://wbrshow.idacb.com/" style="text-decoration: underline;">Roadshow</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<div class="container py-5">
			<h2 class="h3 text-uppercase"><b>Organisational details</b></h2>
			<p>Pitch trainings are conducted in London, Singapore, Hong Kong, Tokyo, Seoul, Zurich, Amsterdam, Moscow and online. Outsourcing pitch sessions are conducted in the cities of <a href="https://wbrshow.idacb.com/" target="_blank" style="text-decoration: underline;">World Blockchain Roadshow</a></p>
			<p class="lead"><i>You may choose your city:</i></p>
			<div class="row">
				
				{% for city in cities %}
					{% thumbnail city.picture "400x300" crop="center" as im %}
						<div class="col-6 col-md-3">
							<a class="text-left d-inline-block g-js-modal-open" data-id="modal-city-{{city.id}}" href="#">
								<img class="w-100" src="{{im.url}}" alt="{{city.name}}">
								<p>{{city.name}}</p>
							</a>
						</div>
						<div id="modal-city-{{city.id}}" class="g-modal g-js-modal">
							<button class="g-modal__close g-js-modal__close"><i class="fa fa-close"></i></button>
							<div class="g-modal__content g-modal__content_center container">
								<div class="g-modal__header">
									<h2>Apply for IDACB Pitch School in <b>{{city.name}}</b></h2>
								</div>
								{% include 'common/form.html' with form=city.form %}
							</div>
						</div>
					{% endthumbnail %}
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="bg-light">
		<div class="container py-5">
			<div class="mx-auto d-inline-block text-center">
				<div>
					<div class="d-inline-flex justify-content-center align-items-center u-circle-bg" 
						 style="width: 10em; height: 10em; background-image: url('{% static 'pitch_page/images/head_person.jpg' %}')">
					</div>
				</div>
				<p class="h4"><b>Evgeny Korolev</b></p>
				<p>Head of IDACB Pitch School</p>
				<p>
					<a style="text-decoration: underline;" href="mailto:evgeniykorolev.ru@gmail.com">evgeniykorolev.ru@gmail.com</a>
					<br>
					<a style="text-decoration: underline;" href="mailto:{{email}}">{{email}}</a>
				</p>
			</div>
		</div>
	</div>
	{% comment %}
	<div id="apply" class="container-fluid g-screen g-screen_apply g-screen_light g-screen_color">
		<div class="row">
			<div class="container ">
				<div class="g-screen__title g-screen__title_light" style="margin-bottom: 0">
					To get IDACB ICO certificate fill the form or send us a letter to <a href="mailto:verification@idacb.com">verification@idacb.com</a>
				</div>
				{% include 'common/form.html' %}
			</div>
			
		</div>
	</div>
	<div class="container g-apply g-js-apply-button" style='z-index: 15'>
		<button class="g-apply__button g-js-scroll-to" data-id='apply'>
			<span class="g-apply__text">Apply</span>
		</button>
	</div>
	{% endcomment %}

{% endblock %}