.med-welcome {
	background:linear-gradient(to bottom, #ffffff 0%, #dae4ff 80%, #a3bcff 100%);
	min-height: 100vh;
}
.med-welcome__container {
	color: #304EA1;
}
.med-welcome__links {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.med-welcome__header {
	padding: 2em;
	text-align: center;
}
.med-welcome__side {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	width: 30em;
	height: 30em;
	position: relative;
}
.med-welcome__logo {
	line-height: 1.2;
	margin-bottom: 1em;
}
.med-welcome__emblem {
	width: 4em;
	margin-bottom: .4em;
}
.med-welcome__link {
	width: 100%;
	height: 100%;
	border: 10px solid #304EA1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	color: #304EA1;
	font-size: 2em;
	padding: 1em;
	text-align: center;
}
.med-welcome__link:hover {
	text-decoration: none;
	color: #304EA1;
	background-color: #f2e41d;
	border-color: #f2e41d;
}
.med-welcome__title {
	font-size: 4em;
}
.med-header {
	color: #fff;
	text-align: center;
	padding: 8em 1em;
}
.med-logo {
	font-size: 1.2em;
	margin-bottom: 2em;
}
.med-number {
	width: 1.8em;
    height: 1.8em;
    line-height: 1.6;
    text-align: center;
    padding-bottom: .1em;
    font-size: 2.3em;
    border-radius: 5em;
    border: 2px solid #444;
    display: inline-block;
    margin-bottom: .3em;
}
.med-screen {
	padding: 6em 3em;
}
.med-screen__title {
	max-width: 15em;
	margin-left: auto;
	margin-right: auto;
}
.med-screen_color a {
	color: #f2e41d;
	text-decoration: underline;
}
.med-screen_color a:hover {
	color: #f2e41d;
}
.med-screen_color {
	background-color: #304EA1;
	color: #fff;
}
.med-screen_secondary {
	background:linear-gradient(to bottom, #f5f5f5 0%, #c7c7c7 100%);
}
.med-screen__subtitle {
	text-align: justify;
	max-width: 40em;
	font-size: 1.2em;
	margin-top: -2em;
}
.med-screen__subtitle_no-margin {
	margin-bottom: 0;
}
.med-partner {
	margin-bottom: 3em;
}
.med-partner__logo {
	width: 7em;
	height: 7em;
	max-width: 100%;
	margin: auto;
	margin-bottom: 1em;
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.med-partner__name {
	max-width: 12em;
	margin: auto;
	line-height: 1.5;
	font-weight: 600;
	font-size: .8em;
}
.med-partners {
	justify-content: center;
	margin-bottom: 3em;
}
.med-table {
	padding: 2em;
	width: 100%;
	max-width: 24em;
	border: 2px solid #444;
	margin: auto;
}
.med-table__title {
	font-weight: 700;
	font-size: 1.2em;
	margin-bottom: 1em;
}
.med-table__body {
	padding: 0;
}
.med-table__body>li {
	list-style: none;
	padding: 0;
	display: block;
	margin-bottom: 1em;
}
.med-table__body>li:before {
	content: '*';
	display: block;
	font-size: 1.5em;
	margin-bottom: -.5em;
}
.med-list {
	font-size: 1.4em;
	position: relative;
	bottom: -.3em;
}