{% extends 'webapp/base.html' %}
{% load static hosts %}
{% block extra_head %}
	<link rel="stylesheet" href="{% static 'verification_page/css/styles.css' %}">
{% endblock %}
{% block title %}ICO Verification | IDACB{% endblock %}
{% block class_body %}{{block.super}} text-center {% endblock %}
{% block content %}
	
	<div class="g-screen g-header g-header_full container-fluid">
		<div class="row">
			<div class="container">
				<div>
					<a target="_blank" href="{% host_url 'home' %}" class="mx-auto d-inline-block g-a-reset">
						<div class="g-logo med-logo">
							<img class="g-logo__emblem g-logo__emblem_circle" src="{% static 'webapp/images/logo.svg' %}">
							<div class="g-logo__type"><b>International Decentralized Association<br/> of Cryptocurrency and Blockchain</b></div>
						</div>
					</a>
				</div>
				<br>
				<h1 class="g-screen__title ver-screen__title g-screen__title_heavy">Advantages to IDACB ICO Verification</h1>
				<div class="g-screen__subtitle med-screen__subtitle g-screen__subtitle_no-margin">
					<b>
						Verification is an integral part of any ICO project, without which the project can not be succeed with investors. Take a look at IDACB verification benifits:
					</b>
				</div>
				<br>
			</div>
		</div>
	</div>
	<div class="ver-screen ver-screen_silver" style="z-index: 10">
		<div class="container-fluid g-screen ver-screen__content">
			<div class="row">
				<div class="container ">
					<h1 class="g-screen__title ver-screen__title ver-screen__plan-title">Silver</h1>
				</div>
			</div>
		</div>
		<div class="ver-screen__shadow"></div>
	</div>
	<div class="ver-screen ver-screen_silver" style="z-index: 9">
		<div class="container-fluid g-screen ver-screen__content">
			<div class="row">
				<div class="container ">
					<div class="g-number">1</div>
					<h2 class="g-screen__title ver-screen__title">Independent Expertise</h2>
					<div class="g-screen__subtitle g-screen__subtitle g-screen__subtitle_no-margin">The best experts from <b>70 countries</b> will appreciate and will be charged for the quality of your project</div>
				</div>
			</div>
		</div>
		<div class="ver-screen__shadow"></div>
	</div>
	<div class="ver-screen ver-screen_silver" style="z-index: 8">
		<div class="container-fluid g-screen ver-screen__content">
			<div class="row">
				<div class="container ">
					<div class="g-number">2</div>
					<h2 class="g-screen__title ver-screen__title">Increase Conversion</h2>
					<div class="g-screen__subtitle g-screen__subtitle g-screen__subtitle_no-margin">The IDACB certificate will allow you <b>to double</b> or <b>to triple</b> the conversion when communicating with investors</div>
				</div>
			</div>
		</div>
		<div class="ver-screen__shadow"></div>
	</div>
	<div class="ver-screen ver-screen_silver" style="z-index: 7">
		<div class="container-fluid g-screen ver-screen__content">
			<div class="row">
				<div class="container ">
					<h2 class="g-screen__title ver-screen__title g-screen__title_heavy g-no-mb">Price: 3 <i class="fa fa-bitcoin"></i></h2>
				</div>
			</div>
		</div>
		<div class="ver-screen__shadow"></div>
	</div>
	<div class="ver-screen ver-screen_gold" style="z-index: 6">
		<div class="container-fluid g-screen ver-screen__content">
			<div class="row">
				<div class="container ">
					<h1 class="g-screen__title ver-screen__title ver-screen__plan-title">Gold</h1>
				</div>
			</div>
		</div>
		<div class="ver-screen__shadow"></div>
	</div>
	<div class="ver-screen ver-screen_gold" style="z-index: 5">
		<div class="container-fluid g-screen ver-screen__content">
			<div class="row">
				<div class="container ">
					<div class="g-number">3</div>
					<h2 class="g-screen__title ver-screen__title">Get Advisers</h2>
					<div class="g-screen__subtitle g-screen__subtitle g-screen__subtitle_no-margin">Get the best advisers <b>selected by IDACB</b> without wasting your time searching for them</div>
				</div>
			</div>
		</div>
		<div class="ver-screen__shadow"></div>
	</div>
	<div class="ver-screen ver-screen_gold" style="z-index: 4">
		<div class="container-fluid g-screen ver-screen__content">
			<div class="row">
				<div class="container ">
					<div class="g-number">4</div>
					<h2 class="g-screen__title ver-screen__title">Get Investors</h2>
					<div class="g-screen__subtitle g-screen__subtitle g-screen__subtitle_no-margin">Get access to a pool of <b>high interested</b> investors for a total of more than <b>$ 2 billion</b></div>
				</div>
			</div>
		</div>
		<div class="ver-screen__shadow"></div>
	</div>
	<div class="ver-screen ver-screen_gold" style="z-index: 3">
		<div class="container-fluid g-screen ver-screen__content">
			<div class="row">
				<div class="container ">
					<h2 class="g-screen__title ver-screen__title g-screen__title_heavy g-no-mb">Price: 5 <i class="fa fa-bitcoin"></i></h2>
				</div>
			</div>
		</div>
		<div class="ver-screen__shadow"></div>
	</div>
	{% if icos.count > 0 %}
		<div class="container-fluid g-screen">
			<div class="row">
				<div class="container ">
					<h2 class="g-screen__title ver-screen__title">ICO that have got IDACB certificate</h2>
					<div class="row g-partners">

						{% for ico in icos %}
							<a target="_blank" rel="nofollow" class="col-4 col-md-2 g-partner" href="{{ico.link}}">
								<div class="g-partner__logo" style="background-image: url('{{ico.logo.url}}')"></div>
							</a>
						{% endfor %}
						
					</div>

				</div>

			</div>
		</div>
	{% endif %}
	<div class="container-fluid g-files g-container_secondary g-screen">
		<h2 class="g-screen__title">Learn more:</h2>
		<div class="container">
			<div class="g-files__list">
				<a target="_blank" rel="nofollow" href="{% get_media_prefix %}webapp/document/IDACB_ICO_verification_program.pdf" class="g-files__item g-button g-button_transparent">
					<i class="fa fa-file-pdf-o"></i> ICO_verification_program.pdf
				</a>
			</div>
		</div>
	</div>
	<div id="apply" class="container-fluid g-screen g-screen_apply g-screen_light g-screen_color">
		<div class="row">
			<div class="container ">
				<div class="g-screen__title g-screen__title_light" style="margin-bottom: 0">
					To get IDACB ICO certificate fill the form or send us a letter to <a href="mailto:verification@idacb.com">verification@idacb.com</a>
				</div>
				{% include 'common/form.html' %}
			</div>
			
		</div>
	</div>
	<div class="container g-apply g-js-apply-button" style='z-index: 15'>
		<button class="g-apply__button g-js-scroll-to" data-id='apply'>
			<span class="g-apply__text">Apply</span>
		</button>
	</div>

{% endblock %}